@use "sass:map";

// Color Palettes

// Red Colors
$red-colors: (
  '50': #FFE4DC,
  '100': #FFC8BB,
  '200': #FBAD9A,
  '300': #F5917A,
  '400': #ED745B,
  '500': #E4553D,
  '600': #D92D20,
  '700': #B22A1C,
  '800': #8D2619,
  '900': #692015,
  '1000': #471A11,
  'a50': rgba(#D92D20, 0.09),  // 09% opacity
  'a100': rgba(#D92D20, 0.18), // 18% opacity
  'a150': rgba(#D92D20, 0.24), // 24% opacity
  'a200': rgba(#D92D20, 0.32)  // 32% opacity
);

// Yellow Colors
$yellow-colors: (
  '50': #FFF3DF,
  '100': #FFE6C0,
  '200': #FFDAA1,
  '300': #FFCE82,
  '400': #FFC262,
  '500': #FFB63F,
  '600': #FFAB00,
  '700': #D08B0F,
  '800': #A36E14,
  '900': #785215,
  '1000': #503713,
  'a50': rgba(#FFAB00, 0.09),
  'a100': rgba(#FFAB00, 0.18),
  'a150': rgba(#FFAB00, 0.24),
  'a200': rgba(#FFAB00, 0.32)
);

// Aqua Green Colors
$aqua-green-colors: (
  '50': #E7F6F1,
  '100': #C9EADF,
  '200': #AEDFD0,
  '300': #91D4C1,
  '400': #73C9B1,
  '500': #50BEA3,
  '600': #1AB394,
  '700': #1F937A,
  '800': #207460,
  '900': #1D5648,
  '1000': #193A31,
  'a50': rgba(#1AB394, 0.09),
  'a100': rgba(#1AB394, 0.18),
  'a150': rgba(#1AB394, 0.24),
  'a200': rgba(#1AB394, 0.32)
);

// Green Colors
$green-colors: (
  '50': #EBFAF3,
  '100': #DAF5E8,
  '200': #B6ECD1,
  '300': #91E38A,
  '400': #48D08C,
  '500': #00BE5F,
  '600': #00A251,
  '700': #008743,
  '800': #006C36,
  '900': #005128,
  '1000': #00361B,
  'a50': rgba(#00A251, 0.09),
  'a100': rgba(#00A251, 0.18),
  'a150': rgba(#00A251, 0.24),
  'a200': rgba(#00A251, 0.32)
);

// Sky Blue Colors
$sky-blue-colors: (
  '50': #E7F6FE,
  '100': #CFEDFC,
  '200': #A8DFFA,
  '300': #79CEF8,
  '400': #57C1F6,
  '500': #15B0F3,
  '600': #1291D0,
  '700': #0F78AD,
  '800': #0C608A,
  '900': #094868,
  '1000': #063145,
  'a50': rgba(#1291D0, 0.09),
  'a100': rgba(#1291D0, 0.18),
  'a150': rgba(#1291D0, 0.24),
  'a200': rgba(#1291D0, 0.32)
);

// Blue Colors
$blue-colors: (
  '50': #F5F8FF,
  '100': #D8E4FD,
  '200': #B4CDFD,
  '300': #75A3FF,
  '400': #4D7FFF,
  '500': #305EFF,
  '600': #2950DA,
  '700': #2243B6,
  '800': #1B3591,
  '900': #14286D,
  '1000': #0D1A48,
  'a50': rgba(#305EFF, 0.09),
  'a100': rgba(#305EFF, 0.18),
  'a150': rgba(#305EFF, 0.24),
  'a200': rgba(#305EFF, 0.32)
);

// Pink Colors
$pink-colors: (
  '50': #FFE5EE,
  '100': #FFCADD,
  '200': #FFAFCC,
  '300': #FF93BC,
  '400': #FD74AC,
  '500': #F9519C,
  '600': #F3168D,
  '700': #C71E73,
  '800': #9C205B,
  '900': #731E45,
  '1000': #4D192F,
  'a50': rgba(#F3168D, 0.09),
  'a100': rgba(#F3168D, 0.18),
  'a150': rgba(#F3168D, 0.24),
  'a200': rgba(#F3168D, 0.32)
);

// Purple Colors
$purple-colors: (
  '50': #F7E2FE,
  '100': #EDC6FE,
  '200': #E3A9FC,
  '300': #D78BFA,
  '400': #CB6CF8,
  '500': #BD4AF6,
  '600': #AD16F3,
  '700': #8F1BC6,
  '800': #711C9B,
  '900': #551B72,
  '1000': #3A174C,
  'a50': rgba(#8F1BC6, 0.09),
  'a100': rgba(#8F1BC6, 0.18),
  'a150': rgba(#8F1BC6, 0.24),
  'a200': rgba(#8F1BC6, 0.32)
);

// Charcoal Blue Colors
$charcoal-blue-colors: (
  '50': #E3E5E7,
  '100': #C7CBD0,
  '200': #ACB2B9,
  '300': #919AA3,
  '400': #78828D,
  '500': #5F6B78,
  '600': #465564,
  '700': #2F4050,
  '800': #25313C,
  '900': #1B232A,
  '1000': #111519,
  'a50': rgba(#1F5C7A, 0.09),
  'a100': rgba(#1F5C7A, 0.18),
  'a150': rgba(#1F5C7A, 0.24),
  'a200': rgba(#1F5C7A, 0.32)
);

// Neutral Colors
$neutral-colors: (
  '10': #F4F5F6,
  '20': #EEEEEE,
  '30': #E2E2E2,
  '40': #D3D3D3,
  '50': #C6C6C6,
  '100': #BCBCBC,
  '200': #ABABAB,
  '300': #909090,
  '400': #777777,
  '500': #646465,
  '600': #464646,
  '700': #2B2B2B,
  '800': #252525,
  '900': #1B1B1B,
  '1000': #111111
);

// Other Colors
$other-colors: (
  'black': #000000,
  'white': #FFFFFF
);

// Generate CSS Variables for each color palette
@mixin generate-color-variables($color-map, $prefix) {
  @each $color, $value in $color-map {
    --#{$prefix}-#{$color}: #{$value};
  }
}

@mixin generate-color-classes($color-map, $prefix) {
  @each $color, $value in $color-map {
    .#{$prefix}-#{$color} {
      color: var(--#{$prefix}-#{$color});
    }
    .#{$prefix}-bg-#{$color} {
      background-color: var(--#{$prefix}-#{$color});
    }
    .#{$prefix}-border-#{$color} {
      border-color: var(--#{$prefix}-#{$color});
    }
  }
}

:root {
  // Generate variables for each color palette with global prefix
  @include generate-color-variables($red-colors, 'global-red');
  @include generate-color-variables($yellow-colors, 'global-yellow');
  @include generate-color-variables($aqua-green-colors, 'global-aqua-green');
  @include generate-color-variables($green-colors, 'global-green');
  @include generate-color-variables($sky-blue-colors, 'global-sky-blue');
  @include generate-color-variables($blue-colors, 'global-blue');
  @include generate-color-variables($pink-colors, 'global-pink');
  @include generate-color-variables($purple-colors, 'global-purple');
  @include generate-color-variables($charcoal-blue-colors, 'global-charcoal-blue');
  @include generate-color-variables($neutral-colors, 'global-neutral');
  @include generate-color-variables($other-colors, 'global');

  // Generate classes for each color palette
  @include generate-color-classes($red-colors, 'global-red');
  @include generate-color-classes($yellow-colors, 'global-yellow');
  @include generate-color-classes($aqua-green-colors, 'global-aqua-green');
  @include generate-color-classes($green-colors, 'global-green');
  @include generate-color-classes($sky-blue-colors, 'global-sky-blue');
  @include generate-color-classes($blue-colors, 'global-blue');
  @include generate-color-classes($pink-colors, 'global-pink');
  @include generate-color-classes($purple-colors, 'global-purple');
  @include generate-color-classes($charcoal-blue-colors, 'global-charcoal-blue');
  @include generate-color-classes($neutral-colors, 'global-neutral');
  @include generate-color-classes($other-colors, 'global');

  // Surface Variables
  --surface-bright: var(--global-white);
  --surface: var(--global-neutral-20);
  --surface-dim: var(--global-neutral-40);

  // Surface Container Variables
  --surface-container-lowest: var(--global-white);
  --surface-container-low: var(--global-neutral-10);
  --surface-container: var(--global-neutral-30);
  --surface-container-high: var(--global-neutral-40);
  --surface-container-highest: var(--global-neutral-100);

  // On Surface Variables
  --on-surface-lowest: var(--global-neutral-300);
  --on-surface-low: var(--global-neutral-500);
  --on-surface: var(--global-neutral-700);

  // Outline Variables
  --outline-bright: var(--global-neutral-30);
  --outline: var(--global-neutral-100);
  --outline-dim: var(--global-neutral-300);

  // Primary Variables
  --primary: var(--global-charcoal-blue-700);
  --on-primary: var(--global-white);
  --primary-container: var(--global-charcoal-blue-50);
  --on-primary-container: var(--global-charcoal-blue-700);

  // Secondary Variables
  --secondary: var(--global-aqua-green-600);
  --on-secondary: var(--global-white);
  --secondary-container: var(--global-aqua-green-50);
  --on-secondary-container: var(--global-aqua-green-600);

  // Error Variables
  --error: var(--global-red-600);
  --on-error: var(--global-white);
  --error-container: var(--global-red-50);
  --on-error-container: var(--global-red-600);

  // Warning Variables
  --warning: var(--global-yellow-600);
  --on-warning: var(--global-white);
  --warning-container: var(--global-yellow-50);
  --on-warning-container: var(--global-yellow-600);

  // Success Variables
  --success: var(--global-green-600);
  --on-success: var(--global-white);
  --success-container: var(--global-green-50);
  --on-success-container: var(--global-green-600);

  // Extend 1 Variables
  --extend-1: var(--global-pink-600);
  --on-extend-1: var(--global-white);
  --extend-1-container: var(--global-pink-50);
  --on-extend-1-container: var(--global-pink-600);

  // Extend 2 Variables
  --extend-2: var(--global-purple-700);
  --on-extend-2: var(--global-white);
  --extend-2-container: var(--global-purple-50);
  --on-extend-2-container: var(--global-purple-700);

  // Extend 3 Variables
  --extend-3: var(--global-sky-blue-600);
  --on-extend-3: var(--global-white);
  --extend-3-container: var(--global-sky-blue-50);
  --on-extend-3-container: var(--global-sky-blue-600);

  @mixin generate-theme-color-classes {
    // Surface Colors
    .surface-bright { color: var(--surface-bright); }
    .surface-bright-bg { background-color: var(--surface-bright); }
    .surface-bright-border { border-color: var(--surface-bright); }
  
    .surface { color: var(--surface); }
    .surface-bg { background-color: var(--surface); }
    .surface-border { border-color: var(--surface); }
  
    .surface-dim { color: var(--surface-dim); }
    .surface-dim-bg { background-color: var(--surface-dim); }
    .surface-dim-border { border-color: var(--surface-dim); }
  
    // Surface Container Colors
    .surface-container-lowest { color: var(--surface-container-lowest); }
    .surface-container-lowest-bg { background-color: var(--surface-container-lowest); }
    .surface-container-lowest-border { border-color: var(--surface-container-lowest); }
  
    .surface-container-low { color: var(--surface-container-low); }
    .surface-container-low-bg { background-color: var(--surface-container-low); }
    .surface-container-low-border { border-color: var(--surface-container-low); }
  
    .surface-container { color: var(--surface-container); }
    .surface-container-bg { background-color: var(--surface-container); }
    .surface-container-border { border-color: var(--surface-container); }
  
    .surface-container-high { color: var(--surface-container-high); }
    .surface-container-high-bg { background-color: var(--surface-container-high); }
    .surface-container-high-border { border-color: var(--surface-container-high); }
  
    .surface-container-highest { color: var(--surface-container-highest); }
    .surface-container-highest-bg { background-color: var(--surface-container-highest); }
    .surface-container-highest-border { border-color: var(--surface-container-highest); }
  
    // On Surface Colors
    .on-surface-lowest { color: var(--on-surface-lowest); }
    .on-surface-lowest-bg { background-color: var(--on-surface-lowest); }
    .on-surface-lowest-border { border-color: var(--on-surface-lowest); }
  
    .on-surface-low { color: var(--on-surface-low); }
    .on-surface-low-bg { background-color: var(--on-surface-low); }
    .on-surface-low-border { border-color: var(--on-surface-low); }
  
    .on-surface { color: var(--on-surface); }
    .on-surface-bg { background-color: var(--on-surface); }
    .on-surface-border { border-color: var(--on-surface); }
  
    // Outline Colors
    .outline-bright { color: var(--outline-bright); }
    .outline-bright-bg { background-color: var(--outline-bright); }
    .outline-bright-border { border-color: var(--outline-bright); }
  
    .outline { color: var(--outline); }
    .outline-bg { background-color: var(--outline); }
    .outline-border { border-color: var(--outline); }
  
    .outline-dim { color: var(--outline-dim); }
    .outline-dim-bg { background-color: var(--outline-dim); }
    .outline-dim-border { border-color: var(--outline-dim); }
  
    // Primary Colors
    .primary { color: var(--primary); }
    .primary-bg { background-color: var(--primary); }
    .primary-border { border-color: var(--primary); }
  
    .on-primary { color: var(--on-primary); }
    .on-primary-bg { background-color: var(--on-primary); }
    .on-primary-border { border-color: var(--on-primary); }
  
    .primary-container { color: var(--primary-container); }
    .primary-container-bg { background-color: var(--primary-container); }
    .primary-container-border { border-color: var(--primary-container); }
  
    .on-primary-container { color: var(--on-primary-container); }
    .on-primary-container-bg { background-color: var(--on-primary-container); }
    .on-primary-container-border { border-color: var(--on-primary-container); }
  
    // Secondary Colors
    .secondary { color: var(--secondary); }
    .secondary-bg { background-color: var(--secondary); }
    .secondary-border { border-color: var(--secondary); }
  
    .on-secondary { color: var(--on-secondary); }
    .on-secondary-bg { background-color: var(--on-secondary); }
    .on-secondary-border { border-color: var(--on-secondary); }
  
    .secondary-container { color: var(--secondary-container); }
    .secondary-container-bg { background-color: var(--secondary-container); }
    .secondary-container-border { border-color: var(--secondary-container); }
  
    .on-secondary-container { color: var(--on-secondary-container); }
    .on-secondary-container-bg { background-color: var(--on-secondary-container); }
    .on-secondary-container-border { border-color: var(--on-secondary-container); }
  
    // Error Colors
    .error { color: var(--error); }
    .error-bg { background-color: var(--error); }
    .error-border { border-color: var(--error); }
  
    .on-error { color: var(--on-error); }
    .on-error-bg { background-color: var(--on-error); }
    .on-error-border { border-color: var(--on-error); }
  
    .error-container { color: var(--error-container); }
    .error-container-bg { background-color: var(--error-container); }
    .error-container-border { border-color: var(--error-container); }
  
    .on-error-container { color: var(--on-error-container); }
    .on-error-container-bg { background-color: var(--on-error-container); }
    .on-error-container-border { border-color: var(--on-error-container); }
  
    // Warning Colors
    .warning { color: var(--warning); }
    .warning-bg { background-color: var(--warning); }
    .warning-border { border-color: var(--warning); }
  
    .on-warning { color: var(--on-warning); }
    .on-warning-bg { background-color: var(--on-warning); }
    .on-warning-border { border-color: var(--on-warning); }
  
    .warning-container { color: var(--warning-container); }
    .warning-container-bg { background-color: var(--warning-container); }
    .warning-container-border { border-color: var(--warning-container); }
  
    .on-warning-container { color: var(--on-warning-container); }
    .on-warning-container-bg { background-color: var(--on-warning-container); }
    .on-warning-container-border { border-color: var(--on-warning-container); }
  
    // Success Colors
    .success { color: var(--success); }
    .success-bg { background-color: var(--success); }
    .success-border { border-color: var(--success); }
  
    .on-success { color: var(--on-success); }
    .on-success-bg { background-color: var(--on-success); }
    .on-success-border { border-color: var(--on-success); }
  
    .success-container { color: var(--success-container); }
    .success-container-bg { background-color: var(--success-container); }
    .success-container-border { border-color: var(--success-container); }
  
    .on-success-container { color: var(--on-success-container); }
    .on-success-container-bg { background-color: var(--on-success-container); }
    .on-success-container-border { border-color: var(--on-success-container); }
  
    // Extend 1 Colors
    .extend-1 { color: var(--extend-1); }
    .extend-1-bg { background-color: var(--extend-1); }
    .extend-1-border { border-color: var(--extend-1); }
  
    .on-extend-1 { color: var(--on-extend-1); }
    .on-extend-1-bg { background-color: var(--on-extend-1); }
    .on-extend-1-border { border-color: var(--on-extend-1); }
  
    .extend-1-container { color: var(--extend-1-container); }
    .extend-1-container-bg { background-color: var(--extend-1-container); }
    .extend-1-container-border { border-color: var(--extend-1-container); }
  
    .on-extend-1-container { color: var(--on-extend-1-container); }
    .on-extend-1-container-bg { background-color: var(--on-extend-1-container); }
    .on-extend-1-container-border { border-color: var(--on-extend-1-container); }
  
    // Extend 2 Colors
    .extend-2 { color: var(--extend-2); }
    .extend-2-bg { background-color: var(--extend-2); }
    .extend-2-border { border-color: var(--extend-2); }
  
    .on-extend-2 { color: var(--on-extend-2); }
    .on-extend-2-bg { background-color: var(--on-extend-2); }
    .on-extend-2-border { border-color: var(--on-extend-2); }
  
    .extend-2-container { color: var(--extend-2-container); }
    .extend-2-container-bg { background-color: var(--extend-2-container); }
    .extend-2-container-border { border-color: var(--extend-2-container); }
  
    .on-extend-2-container { color: var(--on-extend-2-container); }
    .on-extend-2-container-bg { background-color: var(--on-extend-2-container); }
    .on-extend-2-container-border { border-color: var(--on-extend-2-container); }
  
    // Extend 3 Colors
    .extend-3 { color: var(--extend-3); }
    .extend-3-bg { background-color: var(--extend-3); }
    .extend-3-border { border-color: var(--extend-3); }
  
    .on-extend-3 { color: var(--on-extend-3); }
    .on-extend-3-bg { background-color: var(--on-extend-3); }
    .on-extend-3-border { border-color: var(--on-extend-3); }
  
    .extend-3-container { color: var(--extend-3-container); }
    .extend-3-container-bg { background-color: var(--extend-3-container); }
    .extend-3-container-border { border-color: var(--extend-3-container); }
  
    .on-extend-3-container { color: var(--on-extend-3-container); }
    .on-extend-3-container-bg { background-color: var(--on-extend-3-container); }
    .on-extend-3-container-border { border-color: var(--on-extend-3-container); }
  }
  
  // Generate the theme color classes
  @include generate-theme-color-classes();
}
