/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Noto Sans", sans-serif;
}

.global-fz-10 {
  font-size: 0.625rem;
}

.global-fz-12 {
  font-size: 0.75rem;
}

.global-fz-14 {
  font-size: 0.875rem;
}

.global-fz-16 {
  font-size: 1rem;
}

.global-fz-18 {
  font-size: 1.125rem;
}

.global-fz-20 {
  font-size: 1.25rem;
}

.global-fz-24 {
  font-size: 1.5rem;
}

.global-fz-32 {
  font-size: 2rem;
}

.global-fz-34 {
  font-size: 2.125rem;
}

.global-fz-36 {
  font-size: 2.25rem;
}

.global-fz-38 {
  font-size: 2.375rem;
}

.global-fz-40 {
  font-size: 2.5rem;
}

.global-fz-48 {
  font-size: 3rem;
}

.global-fz-56 {
  font-size: 3.5rem;
}

.global-fz-64 {
  font-size: 4rem;
}

.global-fz-72 {
  font-size: 4.5rem;
}

.font-size-25 {
  font-size: 0.625rem;
}
@media screen and (min-width: 768px) {
  .font-size-25 {
    font-size: 0.625rem;
  }
}

.font-size-50 {
  font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  .font-size-50 {
    font-size: 0.75rem;
  }
}

.font-size-100 {
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .font-size-100 {
    font-size: 0.875rem;
  }
}

.font-size-200 {
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .font-size-200 {
    font-size: 1rem;
  }
}

.font-size-300 {
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .font-size-300 {
    font-size: 1.125rem;
  }
}

.font-size-400 {
  font-size: 1.125rem;
}
@media screen and (min-width: 768px) {
  .font-size-400 {
    font-size: 1.25rem;
  }
}

.font-size-500 {
  font-size: 1.25rem;
}
@media screen and (min-width: 768px) {
  .font-size-500 {
    font-size: 1.5rem;
  }
}

.font-size-600 {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .font-size-600 {
    font-size: 2rem;
  }
}

.font-size-700 {
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  .font-size-700 {
    font-size: 2.5rem;
  }
}

.font-size-800 {
  font-size: 2.125rem;
}
@media screen and (min-width: 768px) {
  .font-size-800 {
    font-size: 3rem;
  }
}

.font-size-900 {
  font-size: 2.25rem;
}
@media screen and (min-width: 768px) {
  .font-size-900 {
    font-size: 3.5rem;
  }
}

.font-size-1000 {
  font-size: 2.375rem;
}
@media screen and (min-width: 768px) {
  .font-size-1000 {
    font-size: 4rem;
  }
}

.font-size-1100 {
  font-size: 2.5rem;
}
@media screen and (min-width: 768px) {
  .font-size-1100 {
    font-size: 4.5rem;
  }
}

.global-lh-0 {
  line-height: 0;
}

.global-lh-14 {
  line-height: 0.875rem;
}

.global-lh-16 {
  line-height: 1rem;
}

.global-lh-18 {
  line-height: 1.125rem;
}

.global-lh-20 {
  line-height: 1.25rem;
}

.global-lh-22 {
  line-height: 1.375rem;
}

.global-lh-24 {
  line-height: 1.5rem;
}

.global-lh-26 {
  line-height: 1.625rem;
}

.global-lh-32 {
  line-height: 2rem;
}

.global-lh-38 {
  line-height: 2.375rem;
}

.global-lh-42 {
  line-height: 2.625rem;
}

.global-lh-46 {
  line-height: 2.875rem;
}

.global-lh-48 {
  line-height: 3rem;
}

.global-lh-56 {
  line-height: 3.5rem;
}

.global-lh-64 {
  line-height: 4rem;
}

.global-lh-70 {
  line-height: 4.375rem;
}

.global-lh-78 {
  line-height: 4.875rem;
}

.line-height-00 {
  line-height: 0;
}
@media screen and (min-width: 768px) {
  .line-height-00 {
    line-height: 0;
  }
}

.line-height-25 {
  line-height: 0.875rem;
}
@media screen and (min-width: 768px) {
  .line-height-25 {
    line-height: 0.875rem;
  }
}

.line-height-50 {
  line-height: 1rem;
}
@media screen and (min-width: 768px) {
  .line-height-50 {
    line-height: 1rem;
  }
}

.line-height-75 {
  line-height: 1.125rem;
}
@media screen and (min-width: 768px) {
  .line-height-75 {
    line-height: 1.125rem;
  }
}

.line-height-100 {
  line-height: 1.25rem;
}
@media screen and (min-width: 768px) {
  .line-height-100 {
    line-height: 1.25rem;
  }
}

.line-height-200 {
  line-height: 1.5rem;
}
@media screen and (min-width: 768px) {
  .line-height-200 {
    line-height: 1.5rem;
  }
}

.line-height-300 {
  line-height: 1.375rem;
}
@media screen and (min-width: 768px) {
  .line-height-300 {
    line-height: 1.5rem;
  }
}

.line-height-400 {
  line-height: 1.5rem;
}
@media screen and (min-width: 768px) {
  .line-height-400 {
    line-height: 1.625rem;
  }
}

.line-height-500 {
  line-height: 1.625rem;
}
@media screen and (min-width: 768px) {
  .line-height-500 {
    line-height: 2rem;
  }
}

.line-height-600 {
  line-height: 2rem;
}
@media screen and (min-width: 768px) {
  .line-height-600 {
    line-height: 2.375rem;
  }
}

.line-height-700 {
  line-height: 2.375rem;
}
@media screen and (min-width: 768px) {
  .line-height-700 {
    line-height: 2.875rem;
  }
}

.line-height-800 {
  line-height: 2.5rem;
}
@media screen and (min-width: 768px) {
  .line-height-800 {
    line-height: 3.5rem;
  }
}

.line-height-900 {
  line-height: 2.625rem;
}
@media screen and (min-width: 768px) {
  .line-height-900 {
    line-height: 4rem;
  }
}

.line-height-1000 {
  line-height: 2.875rem;
}
@media screen and (min-width: 768px) {
  .line-height-1000 {
    line-height: 4.375rem;
  }
}

.line-height-1100 {
  line-height: 3rem;
}
@media screen and (min-width: 768px) {
  .line-height-1100 {
    line-height: 4.875rem;
  }
}

.global-ls-compressed {
  letter-spacing: -2px;
}

.global-ls-condensed {
  letter-spacing: -1px;
}

.global-ls-normal {
  letter-spacing: normal;
}

.global-ls-expanded {
  letter-spacing: 1px;
}

.global-ls-extended {
  letter-spacing: 2px;
}

.letter-spacing-50 {
  letter-spacing: -1px;
}
@media screen and (min-width: 768px) {
  .letter-spacing-50 {
    letter-spacing: -1px;
  }
}

.letter-spacing-100 {
  letter-spacing: normal;
}
@media screen and (min-width: 768px) {
  .letter-spacing-100 {
    letter-spacing: normal;
  }
}

.global-fw-100 {
  font-weight: 100;
}

.global-fw-200 {
  font-weight: 200;
}

.global-fw-300 {
  font-weight: 300;
}

.global-fw-400 {
  font-weight: 400;
}

.global-fw-500 {
  font-weight: 500;
}

.global-fw-600 {
  font-weight: 600;
}

.global-fw-700 {
  font-weight: 700;
}

.global-fw-800 {
  font-weight: 800;
}

.global-fw-900 {
  font-weight: 900;
}

.font-weight-400 {
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .font-weight-400 {
    font-weight: 400;
  }
}

.font-weight-500 {
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .font-weight-500 {
    font-weight: 500;
  }
}

.font-weight-600 {
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .font-weight-600 {
    font-weight: 600;
  }
}

.font-weight-700 {
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .font-weight-700 {
    font-weight: 700;
  }
}

.global-ps-00 {
  margin-bottom: 0rem;
}

.global-ps-08 {
  margin-bottom: 0.5rem;
}

.global-ps-10 {
  margin-bottom: 0.625rem;
}

.global-ps-11 {
  margin-bottom: 0.6875rem;
}

.global-ps-12 {
  margin-bottom: 0.75rem;
}

.paragraph-spacing-00 {
  margin-bottom: 0rem;
}
@media screen and (min-width: 768px) {
  .paragraph-spacing-00 {
    margin-bottom: 0rem;
  }
}

.paragraph-spacing-100 {
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .paragraph-spacing-100 {
    margin-bottom: 0.5rem;
  }
}

.paragraph-spacing-200 {
  margin-bottom: 0.625rem;
}
@media screen and (min-width: 768px) {
  .paragraph-spacing-200 {
    margin-bottom: 0.625rem;
  }
}

.paragraph-spacing-300 {
  margin-bottom: 0.6875rem;
}
@media screen and (min-width: 768px) {
  .paragraph-spacing-300 {
    margin-bottom: 0.6875rem;
  }
}

.paragraph-spacing-400 {
  margin-bottom: 0.75rem;
}
@media screen and (min-width: 768px) {
  .paragraph-spacing-400 {
    margin-bottom: 0.75rem;
  }
}

.global-lis-00 {
  gap: 0rem;
}
.global-lis-00.list-traditional > li + li {
  margin-top: 0rem;
}
.global-lis-00.list-flex {
  display: flex;
  flex-direction: column;
}
.global-lis-00.list-grid {
  display: grid;
}

.global-lis-04 {
  gap: 0.25rem;
}
.global-lis-04.list-traditional > li + li {
  margin-top: 0.25rem;
}
.global-lis-04.list-flex {
  display: flex;
  flex-direction: column;
}
.global-lis-04.list-grid {
  display: grid;
}

.global-lis-08 {
  gap: 0.5rem;
}
.global-lis-08.list-traditional > li + li {
  margin-top: 0.5rem;
}
.global-lis-08.list-flex {
  display: flex;
  flex-direction: column;
}
.global-lis-08.list-grid {
  display: grid;
}

.global-lis-12 {
  gap: 0.75rem;
}
.global-lis-12.list-traditional > li + li {
  margin-top: 0.75rem;
}
.global-lis-12.list-flex {
  display: flex;
  flex-direction: column;
}
.global-lis-12.list-grid {
  display: grid;
}

.global-lis-16 {
  gap: 1rem;
}
.global-lis-16.list-traditional > li + li {
  margin-top: 1rem;
}
.global-lis-16.list-flex {
  display: flex;
  flex-direction: column;
}
.global-lis-16.list-grid {
  display: grid;
}

.global-lis-20 {
  gap: 1.25rem;
}
.global-lis-20.list-traditional > li + li {
  margin-top: 1.25rem;
}
.global-lis-20.list-flex {
  display: flex;
  flex-direction: column;
}
.global-lis-20.list-grid {
  display: grid;
}

.global-lis-24 {
  gap: 1.5rem;
}
.global-lis-24.list-traditional > li + li {
  margin-top: 1.5rem;
}
.global-lis-24.list-flex {
  display: flex;
  flex-direction: column;
}
.global-lis-24.list-grid {
  display: grid;
}

.list-spacing-00 {
  gap: 0rem;
}
@media screen and (min-width: 768px) {
  .list-spacing-00 {
    gap: 0rem;
  }
}
.list-spacing-00.list-traditional > li + li {
  margin-top: 0rem;
}
@media screen and (min-width: 768px) {
  .list-spacing-00.list-traditional > li + li {
    margin-top: 0rem;
  }
}

.list-spacing-100 {
  gap: 0.5rem;
}
@media screen and (min-width: 768px) {
  .list-spacing-100 {
    gap: 0.5rem;
  }
}
.list-spacing-100.list-traditional > li + li {
  margin-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .list-spacing-100.list-traditional > li + li {
    margin-top: 0.5rem;
  }
}

.DisplayXLargeRegular {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0rem;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .DisplayXLargeRegular {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .DisplayXLargeRegular {
    font-size: 4.5rem;
    line-height: 4.875rem;
  }
}
.DisplayXLargeRegular {
  letter-spacing: -1px;
}

.DisplayXLargeMedium {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0rem;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .DisplayXLargeMedium {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .DisplayXLargeMedium {
    font-size: 4.5rem;
    line-height: 4.875rem;
  }
}
.DisplayXLargeMedium {
  letter-spacing: -1px;
}

.DisplayXLargeSemibold {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0rem;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .DisplayXLargeSemibold {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .DisplayXLargeSemibold {
    font-size: 4.5rem;
    line-height: 4.875rem;
  }
}
.DisplayXLargeSemibold {
  letter-spacing: normal;
}

.DisplayLargeRegular {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0rem;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .DisplayLargeRegular {
    font-size: 2.375rem;
    line-height: 2.875rem;
  }
}
@media screen and (min-width: 768px) {
  .DisplayLargeRegular {
    font-size: 4rem;
    line-height: 4.375rem;
  }
}
.DisplayLargeRegular {
  letter-spacing: -1px;
}

.DisplayLargeMedium {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0rem;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .DisplayLargeMedium {
    font-size: 2.375rem;
    line-height: 2.875rem;
  }
}
@media screen and (min-width: 768px) {
  .DisplayLargeMedium {
    font-size: 4rem;
    line-height: 4.375rem;
  }
}
.DisplayLargeMedium {
  letter-spacing: -1px;
}

.DisplayLargeSemibold {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0rem;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .DisplayLargeSemibold {
    font-size: 2.375rem;
    line-height: 2.875rem;
  }
}
@media screen and (min-width: 768px) {
  .DisplayLargeSemibold {
    font-size: 4rem;
    line-height: 4.375rem;
  }
}
.DisplayLargeSemibold {
  letter-spacing: normal;
}

.DisplayMediumRegular {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0rem;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .DisplayMediumRegular {
    font-size: 2.25rem;
    line-height: 2.625rem;
  }
}
@media screen and (min-width: 768px) {
  .DisplayMediumRegular {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}
.DisplayMediumRegular {
  letter-spacing: -1px;
}

.DisplayMediumMedium {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0rem;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .DisplayMediumMedium {
    font-size: 2.25rem;
    line-height: 2.625rem;
  }
}
@media screen and (min-width: 768px) {
  .DisplayMediumMedium {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}
.DisplayMediumMedium {
  letter-spacing: -1px;
}

.DisplayMediumSemibold {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0rem;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .DisplayMediumSemibold {
    font-size: 2.25rem;
    line-height: 2.625rem;
  }
}
@media screen and (min-width: 768px) {
  .DisplayMediumSemibold {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}
.DisplayMediumSemibold {
  letter-spacing: normal;
}

.DisplaySmallRegular {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0rem;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .DisplaySmallRegular {
    font-size: 2.125rem;
    line-height: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .DisplaySmallRegular {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}
.DisplaySmallRegular {
  letter-spacing: -1px;
}

.DisplaySmallMedium {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0rem;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .DisplaySmallMedium {
    font-size: 2.125rem;
    line-height: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .DisplaySmallMedium {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}
.DisplaySmallMedium {
  letter-spacing: -1px;
}

.DisplaySmallSemibold {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0rem;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .DisplaySmallSemibold {
    font-size: 2.125rem;
    line-height: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .DisplaySmallSemibold {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}
.DisplaySmallSemibold {
  letter-spacing: normal;
}

.Heading2XLargeRegular {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0rem;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .Heading2XLargeRegular {
    font-size: 2rem;
    line-height: 2.375rem;
  }
}
@media screen and (min-width: 768px) {
  .Heading2XLargeRegular {
    font-size: 2.5rem;
    line-height: 2.875rem;
  }
}
.Heading2XLargeRegular {
  letter-spacing: normal;
}

.Heading2XLargeSemibold {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0rem;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .Heading2XLargeSemibold {
    font-size: 2rem;
    line-height: 2.375rem;
  }
}
@media screen and (min-width: 768px) {
  .Heading2XLargeSemibold {
    font-size: 2.5rem;
    line-height: 2.875rem;
  }
}
.Heading2XLargeSemibold {
  letter-spacing: normal;
}

.HeadingXLargeRegular {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0rem;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .HeadingXLargeRegular {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .HeadingXLargeRegular {
    font-size: 2rem;
    line-height: 2.375rem;
  }
}
.HeadingXLargeRegular {
  letter-spacing: normal;
}

.HeadingXLargeSemibold {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0rem;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .HeadingXLargeSemibold {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .HeadingXLargeSemibold {
    font-size: 2rem;
    line-height: 2.375rem;
  }
}
.HeadingXLargeSemibold {
  letter-spacing: normal;
}

.HeadingLargeRegular {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0rem;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .HeadingLargeRegular {
    font-size: 1.25rem;
    line-height: 1.625rem;
  }
}
@media screen and (min-width: 768px) {
  .HeadingLargeRegular {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.HeadingLargeRegular {
  letter-spacing: normal;
}

.HeadingLargeSemibold {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0rem;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .HeadingLargeSemibold {
    font-size: 1.25rem;
    line-height: 1.625rem;
  }
}
@media screen and (min-width: 768px) {
  .HeadingLargeSemibold {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.HeadingLargeSemibold {
  letter-spacing: normal;
}

.HeadingMediumRegular {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0rem;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .HeadingMediumRegular {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .HeadingMediumRegular {
    font-size: 1.25rem;
    line-height: 1.625rem;
  }
}
.HeadingMediumRegular {
  letter-spacing: normal;
}

.HeadingMediumSemibold {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0rem;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .HeadingMediumSemibold {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .HeadingMediumSemibold {
    font-size: 1.25rem;
    line-height: 1.625rem;
  }
}
.HeadingMediumSemibold {
  letter-spacing: normal;
}

.HeadingSmallRegular {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0rem;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .HeadingSmallRegular {
    font-size: 1rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 768px) {
  .HeadingSmallRegular {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}
.HeadingSmallRegular {
  letter-spacing: normal;
}

.HeadingSmallSemibold {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0rem;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .HeadingSmallSemibold {
    font-size: 1rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 768px) {
  .HeadingSmallSemibold {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}
.HeadingSmallSemibold {
  letter-spacing: normal;
}

.BodyLargeRegular {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0.75rem;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .BodyLargeRegular {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .BodyLargeRegular {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.BodyLargeRegular {
  letter-spacing: normal;
}

.BodyLargeMedium {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0.75rem;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .BodyLargeMedium {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .BodyLargeMedium {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.BodyLargeMedium {
  letter-spacing: normal;
}

.BodyLargeSemibold {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0.75rem;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .BodyLargeSemibold {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .BodyLargeSemibold {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.BodyLargeSemibold {
  letter-spacing: normal;
}

.BodyMediumRegular {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0.6875rem;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .BodyMediumRegular {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
@media screen and (min-width: 768px) {
  .BodyMediumRegular {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.BodyMediumRegular {
  letter-spacing: normal;
}

.BodyMediumMedium {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0.6875rem;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .BodyMediumMedium {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
@media screen and (min-width: 768px) {
  .BodyMediumMedium {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.BodyMediumMedium {
  letter-spacing: normal;
}

.BodyMediumSemibold {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0.6875rem;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .BodyMediumSemibold {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
@media screen and (min-width: 768px) {
  .BodyMediumSemibold {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.BodyMediumSemibold {
  letter-spacing: normal;
}

.BodySmallRegular {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0.625rem;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .BodySmallRegular {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}
@media screen and (min-width: 768px) {
  .BodySmallRegular {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}
.BodySmallRegular {
  letter-spacing: normal;
}

.BodySmallMedium {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0.625rem;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .BodySmallMedium {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}
@media screen and (min-width: 768px) {
  .BodySmallMedium {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}
.BodySmallMedium {
  letter-spacing: normal;
}

.BodySmallSemibold {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0.625rem;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .BodySmallSemibold {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}
@media screen and (min-width: 768px) {
  .BodySmallSemibold {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}
.BodySmallSemibold {
  letter-spacing: normal;
}

.BodyXSmallRegular {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0.5rem;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .BodyXSmallRegular {
    font-size: 0.625rem;
    line-height: 0.875rem;
  }
}
@media screen and (min-width: 768px) {
  .BodyXSmallRegular {
    font-size: 0.625rem;
    line-height: 0.875rem;
  }
}
.BodyXSmallRegular {
  letter-spacing: normal;
}

.BodyXSmallMedium {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .BodyXSmallMedium {
    font-size: 0.625rem;
    line-height: 0.875rem;
  }
}
@media screen and (min-width: 768px) {
  .BodyXSmallMedium {
    font-size: 0.625rem;
    line-height: 0.875rem;
  }
}
.BodyXSmallMedium {
  letter-spacing: normal;
}

.BodyXSmallSemibold {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .BodyXSmallSemibold {
    font-size: 0.625rem;
    line-height: 0.875rem;
  }
}
@media screen and (min-width: 768px) {
  .BodyXSmallSemibold {
    font-size: 0.625rem;
    line-height: 0.875rem;
  }
}
.BodyXSmallSemibold {
  letter-spacing: normal;
}

.fluid-text {
  font-size: clamp(1rem, 16px + (32 - 16) * (100vw - 320px) / (1600 - 320), 2rem);
}
