/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Noto Sans", sans-serif;
}

.global-fz-10, .font-size-25, .BodyXSmallSemibold, .BodyXSmallMedium, .BodyXSmallRegular {
  font-size: 0.625rem;
}

.global-fz-12, .font-size-50, .BodySmallSemibold, .BodySmallMedium, .BodySmallRegular {
  font-size: 0.75rem;
}

.global-fz-14, .font-size-100, .BodyMediumSemibold, .BodyMediumMedium, .BodyMediumRegular {
  font-size: 0.875rem;
}

.global-fz-16, .font-size-200, .BodyLargeSemibold, .BodyLargeMedium, .BodyLargeRegular {
  font-size: 1rem;
}

.global-fz-18, .font-size-300, .HeadingSmallSemibold, .HeadingSmallRegular {
  font-size: 1.125rem;
}

.global-fz-20, .font-size-400, .HeadingMediumSemibold, .HeadingMediumRegular {
  font-size: 1.25rem;
}

.global-fz-24, .font-size-500, .HeadingLargeSemibold, .HeadingLargeRegular {
  font-size: 1.5rem;
}

.global-fz-32, .font-size-600, .HeadingXLargeSemibold, .HeadingXLargeRegular {
  font-size: 2rem;
}

.global-fz-34 {
  font-size: 2.125rem;
}

.global-fz-36 {
  font-size: 2.25rem;
}

.global-fz-38 {
  font-size: 2.375rem;
}

.global-fz-40, .font-size-700, .Heading2XLargeSemibold, .Heading2XLargeRegular {
  font-size: 2.5rem;
}

.global-fz-48, .font-size-800, .DisplaySmallSemibold, .DisplaySmallMedium, .DisplaySmallRegular {
  font-size: 3rem;
}

.global-fz-56, .font-size-900, .DisplayMediumSemibold, .DisplayMediumMedium, .DisplayMediumRegular {
  font-size: 3.5rem;
}

.global-fz-64, .font-size-1000, .DisplayLargeSemibold, .DisplayLargeMedium, .DisplayLargeRegular {
  font-size: 4rem;
}

.global-fz-72, .font-size-1100, .DisplayXLargeSemibold, .DisplayXLargeMedium, .DisplayXLargeRegular {
  font-size: 4.5rem;
}

@media screen and (max-width: 768px) {
  .font-size-25, .BodyXSmallSemibold, .BodyXSmallMedium, .BodyXSmallRegular {
    font-size: 0.625rem;
  }
}

@media screen and (max-width: 768px) {
  .font-size-50, .BodySmallSemibold, .BodySmallMedium, .BodySmallRegular {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 768px) {
  .font-size-100, .BodyMediumSemibold, .BodyMediumMedium, .BodyMediumRegular {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 768px) {
  .font-size-200, .BodyLargeSemibold, .BodyLargeMedium, .BodyLargeRegular {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .font-size-300, .HeadingSmallSemibold, .HeadingSmallRegular {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .font-size-400, .HeadingMediumSemibold, .HeadingMediumRegular {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 768px) {
  .font-size-500, .HeadingLargeSemibold, .HeadingLargeRegular {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 768px) {
  .font-size-600, .HeadingXLargeSemibold, .HeadingXLargeRegular {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .font-size-700, .Heading2XLargeSemibold, .Heading2XLargeRegular {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .font-size-800, .DisplaySmallSemibold, .DisplaySmallMedium, .DisplaySmallRegular {
    font-size: 2.125rem;
  }
}

@media screen and (max-width: 768px) {
  .font-size-900, .DisplayMediumSemibold, .DisplayMediumMedium, .DisplayMediumRegular {
    font-size: 2.25rem;
  }
}

@media screen and (max-width: 768px) {
  .font-size-1000, .DisplayLargeSemibold, .DisplayLargeMedium, .DisplayLargeRegular {
    font-size: 2.375rem;
  }
}

@media screen and (max-width: 768px) {
  .font-size-1100, .DisplayXLargeSemibold, .DisplayXLargeMedium, .DisplayXLargeRegular {
    font-size: 2.5rem;
  }
}

.global-lh-0, .line-height-00 {
  line-height: 0;
}

.global-lh-14, .line-height-25, .BodyXSmallSemibold, .BodyXSmallMedium, .BodyXSmallRegular {
  line-height: 0.875rem;
}

.global-lh-16, .line-height-50 {
  line-height: 1rem;
}

.global-lh-18, .line-height-75, .BodySmallSemibold, .BodySmallMedium, .BodySmallRegular {
  line-height: 1.125rem;
}

.global-lh-20, .line-height-100, .BodyMediumSemibold, .BodyMediumMedium, .BodyMediumRegular {
  line-height: 1.25rem;
}

.global-lh-22 {
  line-height: 1.375rem;
}

.global-lh-24, .line-height-300, .HeadingSmallSemibold, .HeadingSmallRegular, .line-height-200, .BodyLargeSemibold, .BodyLargeMedium, .BodyLargeRegular {
  line-height: 1.5rem;
}

.global-lh-26, .line-height-400, .HeadingMediumSemibold, .HeadingMediumRegular {
  line-height: 1.625rem;
}

.global-lh-32, .line-height-500, .HeadingLargeSemibold, .HeadingLargeRegular {
  line-height: 2rem;
}

.global-lh-38, .line-height-600, .HeadingXLargeSemibold, .HeadingXLargeRegular {
  line-height: 2.375rem;
}

.global-lh-42 {
  line-height: 2.625rem;
}

.global-lh-46, .line-height-700, .Heading2XLargeSemibold, .Heading2XLargeRegular {
  line-height: 2.875rem;
}

.global-lh-48 {
  line-height: 3rem;
}

.global-lh-56, .line-height-800, .DisplaySmallSemibold, .DisplaySmallMedium, .DisplaySmallRegular {
  line-height: 3.5rem;
}

.global-lh-64, .line-height-900, .DisplayMediumSemibold, .DisplayMediumMedium, .DisplayMediumRegular {
  line-height: 4rem;
}

.global-lh-70, .line-height-1000, .DisplayLargeSemibold, .DisplayLargeMedium, .DisplayLargeRegular {
  line-height: 4.375rem;
}

.global-lh-78, .line-height-1100, .DisplayXLargeSemibold, .DisplayXLargeMedium, .DisplayXLargeRegular {
  line-height: 4.875rem;
}

@media screen and (max-width: 768px) {
  .line-height-00 {
    line-height: 0;
  }
}

@media screen and (max-width: 768px) {
  .line-height-25, .BodyXSmallSemibold, .BodyXSmallMedium, .BodyXSmallRegular {
    line-height: 0.875rem;
  }
}

@media screen and (max-width: 768px) {
  .line-height-50 {
    line-height: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .line-height-75, .BodySmallSemibold, .BodySmallMedium, .BodySmallRegular {
    line-height: 1.125rem;
  }
}

@media screen and (max-width: 768px) {
  .line-height-100, .BodyMediumSemibold, .BodyMediumMedium, .BodyMediumRegular {
    line-height: 1.25rem;
  }
}

@media screen and (max-width: 768px) {
  .line-height-200, .BodyLargeSemibold, .BodyLargeMedium, .BodyLargeRegular {
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .line-height-300, .HeadingSmallSemibold, .HeadingSmallRegular {
    line-height: 1.375rem;
  }
}

@media screen and (max-width: 768px) {
  .line-height-400, .HeadingMediumSemibold, .HeadingMediumRegular {
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .line-height-500, .HeadingLargeSemibold, .HeadingLargeRegular {
    line-height: 1.625rem;
  }
}

@media screen and (max-width: 768px) {
  .line-height-600, .HeadingXLargeSemibold, .HeadingXLargeRegular {
    line-height: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .line-height-700, .Heading2XLargeSemibold, .Heading2XLargeRegular {
    line-height: 2.375rem;
  }
}

@media screen and (max-width: 768px) {
  .line-height-800, .DisplaySmallSemibold, .DisplaySmallMedium, .DisplaySmallRegular {
    line-height: 2.625rem;
  }
}

@media screen and (max-width: 768px) {
  .line-height-900, .DisplayMediumSemibold, .DisplayMediumMedium, .DisplayMediumRegular {
    line-height: 2.625rem;
  }
}

@media screen and (max-width: 768px) {
  .line-height-1000, .DisplayLargeSemibold, .DisplayLargeMedium, .DisplayLargeRegular {
    line-height: 2.875rem;
  }
}

@media screen and (max-width: 768px) {
  .line-height-1100, .DisplayXLargeSemibold, .DisplayXLargeMedium, .DisplayXLargeRegular {
    line-height: 3rem;
  }
}

.global-ls-compressed {
  letter-spacing: -2px;
}

.global-ls-condensed, .letter-spacing-50, .DisplaySmallMedium, .DisplaySmallRegular, .DisplayMediumMedium, .DisplayMediumRegular, .DisplayLargeMedium, .DisplayLargeRegular, .DisplayXLargeMedium, .DisplayXLargeRegular {
  letter-spacing: -1px;
}

.global-ls-normal, .letter-spacing-100, .BodyXSmallSemibold, .BodyXSmallMedium, .BodyXSmallRegular, .BodySmallSemibold, .BodySmallMedium, .BodySmallRegular, .BodyMediumSemibold, .BodyMediumMedium, .BodyMediumRegular, .BodyLargeSemibold, .BodyLargeMedium, .BodyLargeRegular, .HeadingSmallSemibold, .HeadingSmallRegular, .HeadingMediumSemibold, .HeadingMediumRegular, .HeadingLargeSemibold, .HeadingLargeRegular, .HeadingXLargeSemibold, .HeadingXLargeRegular, .Heading2XLargeSemibold, .Heading2XLargeRegular, .DisplaySmallSemibold, .DisplayMediumSemibold, .DisplayLargeSemibold, .DisplayXLargeSemibold {
  letter-spacing: normal;
}

.global-ls-expanded {
  letter-spacing: 1px;
}

.global-ls-extended {
  letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
  .letter-spacing-50, .DisplaySmallMedium, .DisplaySmallRegular, .DisplayMediumMedium, .DisplayMediumRegular, .DisplayLargeMedium, .DisplayLargeRegular, .DisplayXLargeMedium, .DisplayXLargeRegular {
    letter-spacing: -1px;
  }
}

@media screen and (max-width: 768px) {
  .letter-spacing-100, .BodyXSmallSemibold, .BodyXSmallMedium, .BodyXSmallRegular, .BodySmallSemibold, .BodySmallMedium, .BodySmallRegular, .BodyMediumSemibold, .BodyMediumMedium, .BodyMediumRegular, .BodyLargeSemibold, .BodyLargeMedium, .BodyLargeRegular, .HeadingSmallSemibold, .HeadingSmallRegular, .HeadingMediumSemibold, .HeadingMediumRegular, .HeadingLargeSemibold, .HeadingLargeRegular, .HeadingXLargeSemibold, .HeadingXLargeRegular, .Heading2XLargeSemibold, .Heading2XLargeRegular, .DisplaySmallSemibold, .DisplayMediumSemibold, .DisplayLargeSemibold, .DisplayXLargeSemibold {
    letter-spacing: normal;
  }
}

.global-fw-100 {
  font-weight: 100;
}

.global-fw-200 {
  font-weight: 200;
}

.global-fw-300 {
  font-weight: 300;
}

.global-fw-400, .font-weight-400, .BodyXSmallRegular, .BodySmallRegular, .BodyMediumRegular, .BodyLargeRegular, .HeadingSmallRegular, .HeadingMediumRegular, .HeadingLargeRegular, .HeadingXLargeRegular, .Heading2XLargeRegular, .DisplaySmallRegular, .DisplayMediumRegular, .DisplayLargeRegular, .DisplayXLargeRegular {
  font-weight: 400;
}

.global-fw-500, .font-weight-500, .BodyXSmallMedium, .BodySmallMedium, .BodyMediumMedium, .BodyLargeMedium, .DisplaySmallMedium, .DisplayMediumMedium, .DisplayLargeMedium, .DisplayXLargeMedium {
  font-weight: 500;
}

.global-fw-600, .font-weight-600, .BodyXSmallSemibold, .BodySmallSemibold, .BodyMediumSemibold, .BodyLargeSemibold, .HeadingSmallSemibold, .HeadingMediumSemibold, .HeadingLargeSemibold, .HeadingXLargeSemibold, .Heading2XLargeSemibold, .DisplaySmallSemibold, .DisplayMediumSemibold, .DisplayLargeSemibold, .DisplayXLargeSemibold {
  font-weight: 600;
}

.global-fw-700, .font-weight-700 {
  font-weight: 700;
}

.global-fw-800 {
  font-weight: 800;
}

.global-fw-900 {
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  .font-weight-400, .BodyXSmallRegular, .BodySmallRegular, .BodyMediumRegular, .BodyLargeRegular, .HeadingSmallRegular, .HeadingMediumRegular, .HeadingLargeRegular, .HeadingXLargeRegular, .Heading2XLargeRegular, .DisplaySmallRegular, .DisplayMediumRegular, .DisplayLargeRegular, .DisplayXLargeRegular {
    font-weight: 400;
  }
}

@media screen and (max-width: 768px) {
  .font-weight-500, .BodyXSmallMedium, .BodySmallMedium, .BodyMediumMedium, .BodyLargeMedium, .DisplaySmallMedium, .DisplayMediumMedium, .DisplayLargeMedium, .DisplayXLargeMedium {
    font-weight: 500;
  }
}

@media screen and (max-width: 768px) {
  .font-weight-600, .BodyXSmallSemibold, .BodySmallSemibold, .BodyMediumSemibold, .BodyLargeSemibold, .HeadingSmallSemibold, .HeadingMediumSemibold, .HeadingLargeSemibold, .HeadingXLargeSemibold, .Heading2XLargeSemibold, .DisplaySmallSemibold, .DisplayMediumSemibold, .DisplayLargeSemibold, .DisplayXLargeSemibold {
    font-weight: 600;
  }
}

@media screen and (max-width: 768px) {
  .font-weight-700 {
    font-weight: 700;
  }
}

.global-ps-00, .paragraph-spacing-00, .HeadingSmallSemibold, .HeadingSmallRegular, .HeadingMediumSemibold, .HeadingMediumRegular, .HeadingLargeSemibold, .HeadingLargeRegular, .HeadingXLargeSemibold, .HeadingXLargeRegular, .Heading2XLargeSemibold, .Heading2XLargeRegular, .DisplaySmallSemibold, .DisplaySmallMedium, .DisplaySmallRegular, .DisplayMediumSemibold, .DisplayMediumMedium, .DisplayMediumRegular, .DisplayLargeSemibold, .DisplayLargeMedium, .DisplayLargeRegular, .DisplayXLargeSemibold, .DisplayXLargeMedium, .DisplayXLargeRegular {
  margin-bottom: 0rem;
}

.global-ps-08, .paragraph-spacing-100, .BodyXSmallSemibold, .BodyXSmallMedium, .BodyXSmallRegular {
  margin-bottom: 0.5rem;
}

.global-ps-10, .paragraph-spacing-200, .BodySmallSemibold, .BodySmallMedium, .BodySmallRegular {
  margin-bottom: 0.625rem;
}

.global-ps-11, .paragraph-spacing-300, .BodyMediumSemibold, .BodyMediumMedium, .BodyMediumRegular {
  margin-bottom: 0.6875rem;
}

.global-ps-12, .paragraph-spacing-400, .BodyLargeSemibold, .BodyLargeMedium, .BodyLargeRegular {
  margin-bottom: 0.75rem;
}

@media screen and (max-width: 768px) {
  .paragraph-spacing-00, .HeadingSmallSemibold, .HeadingSmallRegular, .HeadingMediumSemibold, .HeadingMediumRegular, .HeadingLargeSemibold, .HeadingLargeRegular, .HeadingXLargeSemibold, .HeadingXLargeRegular, .Heading2XLargeSemibold, .Heading2XLargeRegular, .DisplaySmallSemibold, .DisplaySmallMedium, .DisplaySmallRegular, .DisplayMediumSemibold, .DisplayMediumMedium, .DisplayMediumRegular, .DisplayLargeSemibold, .DisplayLargeMedium, .DisplayLargeRegular, .DisplayXLargeSemibold, .DisplayXLargeMedium, .DisplayXLargeRegular {
    margin-bottom: 0rem;
  }
}

@media screen and (max-width: 768px) {
  .paragraph-spacing-100, .BodyXSmallSemibold, .BodyXSmallMedium, .BodyXSmallRegular {
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .paragraph-spacing-200, .BodySmallSemibold, .BodySmallMedium, .BodySmallRegular {
    margin-bottom: 0.625rem;
  }
}

@media screen and (max-width: 768px) {
  .paragraph-spacing-300, .BodyMediumSemibold, .BodyMediumMedium, .BodyMediumRegular {
    margin-bottom: 0.6875rem;
  }
}

@media screen and (max-width: 768px) {
  .paragraph-spacing-400, .BodyLargeSemibold, .BodyLargeMedium, .BodyLargeRegular {
    margin-bottom: 0.75rem;
  }
}

.global-lis-00, .list-spacing-00 {
  gap: 0rem;
}
.global-lis-00.list-traditional > li + li, .list-traditional.list-spacing-00 > li + li {
  margin-top: 0rem;
}
.global-lis-00.list-flex, .list-flex.list-spacing-00 {
  display: flex;
  flex-direction: column;
}
.global-lis-00.list-grid, .list-grid.list-spacing-00 {
  display: grid;
}

.global-lis-04 {
  gap: 0.25rem;
}
.global-lis-04.list-traditional > li + li {
  margin-top: 0.25rem;
}
.global-lis-04.list-flex {
  display: flex;
  flex-direction: column;
}
.global-lis-04.list-grid {
  display: grid;
}

.global-lis-08, .list-spacing-100 {
  gap: 0.5rem;
}
.global-lis-08.list-traditional > li + li, .list-traditional.list-spacing-100 > li + li {
  margin-top: 0.5rem;
}
.global-lis-08.list-flex, .list-flex.list-spacing-100 {
  display: flex;
  flex-direction: column;
}
.global-lis-08.list-grid, .list-grid.list-spacing-100 {
  display: grid;
}

.global-lis-12 {
  gap: 0.75rem;
}
.global-lis-12.list-traditional > li + li {
  margin-top: 0.75rem;
}
.global-lis-12.list-flex {
  display: flex;
  flex-direction: column;
}
.global-lis-12.list-grid {
  display: grid;
}

.global-lis-16 {
  gap: 1rem;
}
.global-lis-16.list-traditional > li + li {
  margin-top: 1rem;
}
.global-lis-16.list-flex {
  display: flex;
  flex-direction: column;
}
.global-lis-16.list-grid {
  display: grid;
}

.global-lis-20 {
  gap: 1.25rem;
}
.global-lis-20.list-traditional > li + li {
  margin-top: 1.25rem;
}
.global-lis-20.list-flex {
  display: flex;
  flex-direction: column;
}
.global-lis-20.list-grid {
  display: grid;
}

.global-lis-24 {
  gap: 1.5rem;
}
.global-lis-24.list-traditional > li + li {
  margin-top: 1.5rem;
}
.global-lis-24.list-flex {
  display: flex;
  flex-direction: column;
}
.global-lis-24.list-grid {
  display: grid;
}

@media screen and (max-width: 768px) {
  .list-spacing-00 {
    gap: 0rem;
  }
  .list-spacing-00.list-traditional > li + li {
    margin-top: 0rem;
  }
}

@media screen and (max-width: 768px) {
  .list-spacing-100 {
    gap: 0.5rem;
  }
  .list-spacing-100.list-traditional > li + li {
    margin-top: 0.5rem;
  }
}

.DisplayXLargeRegular {
  font-family: "Noto Sans", sans-serif;
}

.DisplayXLargeMedium {
  font-family: "Noto Sans", sans-serif;
}

.DisplayXLargeSemibold {
  font-family: "Noto Sans", sans-serif;
}

.DisplayLargeRegular {
  font-family: "Noto Sans", sans-serif;
}

.DisplayLargeMedium {
  font-family: "Noto Sans", sans-serif;
}

.DisplayLargeSemibold {
  font-family: "Noto Sans", sans-serif;
}

.DisplayMediumRegular {
  font-family: "Noto Sans", sans-serif;
}

.DisplayMediumMedium {
  font-family: "Noto Sans", sans-serif;
}

.DisplayMediumSemibold {
  font-family: "Noto Sans", sans-serif;
}

.DisplaySmallRegular {
  font-family: "Noto Sans", sans-serif;
}

.DisplaySmallMedium {
  font-family: "Noto Sans", sans-serif;
}

.DisplaySmallSemibold {
  font-family: "Noto Sans", sans-serif;
}

.Heading2XLargeRegular {
  font-family: "Noto Sans", sans-serif;
}

.Heading2XLargeSemibold {
  font-family: "Noto Sans", sans-serif;
}

.HeadingXLargeRegular {
  font-family: "Noto Sans", sans-serif;
}

.HeadingXLargeSemibold {
  font-family: "Noto Sans", sans-serif;
}

.HeadingLargeRegular {
  font-family: "Noto Sans", sans-serif;
}

.HeadingLargeSemibold {
  font-family: "Noto Sans", sans-serif;
}

.HeadingMediumRegular {
  font-family: "Noto Sans", sans-serif;
}

.HeadingMediumSemibold {
  font-family: "Noto Sans", sans-serif;
}

.HeadingSmallRegular {
  font-family: "Noto Sans", sans-serif;
}

.HeadingSmallSemibold {
  font-family: "Noto Sans", sans-serif;
}

.BodyLargeRegular {
  font-family: "Noto Sans", sans-serif;
}

.BodyLargeMedium {
  font-family: "Noto Sans", sans-serif;
}

.BodyLargeSemibold {
  font-family: "Noto Sans", sans-serif;
}

.BodyMediumRegular {
  font-family: "Noto Sans", sans-serif;
}

.BodyMediumMedium {
  font-family: "Noto Sans", sans-serif;
}

.BodyMediumSemibold {
  font-family: "Noto Sans", sans-serif;
}

.BodySmallRegular {
  font-family: "Noto Sans", sans-serif;
}

.BodySmallMedium {
  font-family: "Noto Sans", sans-serif;
}

.BodySmallSemibold {
  font-family: "Noto Sans", sans-serif;
}

.BodyXSmallRegular {
  font-family: "Noto Sans", sans-serif;
}

.BodyXSmallMedium {
  font-family: "Noto Sans", sans-serif;
}

.BodyXSmallSemibold {
  font-family: "Noto Sans", sans-serif;
}

.fluid-text {
  font-size: clamp(1rem, 16px + (32 - 16) * (100vw - 320px) / (1200 - 320), 2rem);
}

.global-bw-none {
  border-width: 0px;
  border-style: solid;
}

.global-bw-t-none {
  border-top-width: 0px;
  border-top-style: solid;
}

.global-bw-r-none {
  border-right-width: 0px;
  border-right-style: solid;
}

.global-bw-b-none {
  border-bottom-width: 0px;
  border-bottom-style: solid;
}

.global-bw-l-none {
  border-left-width: 0px;
  border-left-style: solid;
}

.global-bw-thinner {
  border-width: 0.5px;
  border-style: solid;
}

.global-bw-t-thinner {
  border-top-width: 0.5px;
  border-top-style: solid;
}

.global-bw-r-thinner {
  border-right-width: 0.5px;
  border-right-style: solid;
}

.global-bw-b-thinner {
  border-bottom-width: 0.5px;
  border-bottom-style: solid;
}

.global-bw-l-thinner {
  border-left-width: 0.5px;
  border-left-style: solid;
}

.global-bw-thin {
  border-width: 1px;
  border-style: solid;
}

.global-bw-t-thin {
  border-top-width: 1px;
  border-top-style: solid;
}

.global-bw-r-thin {
  border-right-width: 1px;
  border-right-style: solid;
}

.global-bw-b-thin {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.global-bw-l-thin {
  border-left-width: 1px;
  border-left-style: solid;
}

.global-bw-thick {
  border-width: 1.5px;
  border-style: solid;
}

.global-bw-t-thick {
  border-top-width: 1.5px;
  border-top-style: solid;
}

.global-bw-r-thick {
  border-right-width: 1.5px;
  border-right-style: solid;
}

.global-bw-b-thick {
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
}

.global-bw-l-thick {
  border-left-width: 1.5px;
  border-left-style: solid;
}

.global-bw-thicker {
  border-width: 2px;
  border-style: solid;
}

.global-bw-t-thicker {
  border-top-width: 2px;
  border-top-style: solid;
}

.global-bw-r-thicker {
  border-right-width: 2px;
  border-right-style: solid;
}

.global-bw-b-thicker {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.global-bw-l-thicker {
  border-left-width: 2px;
  border-left-style: solid;
}

.global-bs-solid {
  border-style: solid;
}

.global-bs-dashed {
  border-style: dashed;
}

.global-bs-dotted {
  border-style: dotted;
}

.global-bs-double {
  border-style: double;
}

.global-bs-none {
  border-style: none;
}

.global-br-none {
  border-radius: 0px;
}

.global-br-tl-none {
  border-top-left-radius: 0px;
}

.global-br-tr-none {
  border-top-right-radius: 0px;
}

.global-br-bl-none {
  border-bottom-left-radius: 0px;
}

.global-br-br-none {
  border-bottom-right-radius: 0px;
}

.global-br-t-none {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.global-br-b-none {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.global-br-l-none {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.global-br-r-none {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.global-br-xsmall {
  border-radius: 1px;
}

.global-br-tl-xsmall {
  border-top-left-radius: 1px;
}

.global-br-tr-xsmall {
  border-top-right-radius: 1px;
}

.global-br-bl-xsmall {
  border-bottom-left-radius: 1px;
}

.global-br-br-xsmall {
  border-bottom-right-radius: 1px;
}

.global-br-t-xsmall {
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}

.global-br-b-xsmall {
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}

.global-br-l-xsmall {
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
}

.global-br-r-xsmall {
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}

.global-br-small {
  border-radius: 2px;
}

.global-br-tl-small {
  border-top-left-radius: 2px;
}

.global-br-tr-small {
  border-top-right-radius: 2px;
}

.global-br-bl-small {
  border-bottom-left-radius: 2px;
}

.global-br-br-small {
  border-bottom-right-radius: 2px;
}

.global-br-t-small {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.global-br-b-small {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.global-br-l-small {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.global-br-r-small {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.global-br-medium {
  border-radius: 4px;
}

.global-br-tl-medium {
  border-top-left-radius: 4px;
}

.global-br-tr-medium {
  border-top-right-radius: 4px;
}

.global-br-bl-medium {
  border-bottom-left-radius: 4px;
}

.global-br-br-medium {
  border-bottom-right-radius: 4px;
}

.global-br-t-medium {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.global-br-b-medium {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.global-br-l-medium {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.global-br-r-medium {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.global-br-large {
  border-radius: 8px;
}

.global-br-tl-large {
  border-top-left-radius: 8px;
}

.global-br-tr-large {
  border-top-right-radius: 8px;
}

.global-br-bl-large {
  border-bottom-left-radius: 8px;
}

.global-br-br-large {
  border-bottom-right-radius: 8px;
}

.global-br-t-large {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.global-br-b-large {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.global-br-l-large {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.global-br-r-large {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.global-br-xlarge {
  border-radius: 12px;
}

.global-br-tl-xlarge {
  border-top-left-radius: 12px;
}

.global-br-tr-xlarge {
  border-top-right-radius: 12px;
}

.global-br-bl-xlarge {
  border-bottom-left-radius: 12px;
}

.global-br-br-xlarge {
  border-bottom-right-radius: 12px;
}

.global-br-t-xlarge {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.global-br-b-xlarge {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.global-br-l-xlarge {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.global-br-r-xlarge {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.global-br-2xlarge {
  border-radius: 16px;
}

.global-br-tl-2xlarge {
  border-top-left-radius: 16px;
}

.global-br-tr-2xlarge {
  border-top-right-radius: 16px;
}

.global-br-bl-2xlarge {
  border-bottom-left-radius: 16px;
}

.global-br-br-2xlarge {
  border-bottom-right-radius: 16px;
}

.global-br-t-2xlarge {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.global-br-b-2xlarge {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.global-br-l-2xlarge {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.global-br-r-2xlarge {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.global-br-max {
  border-radius: 1000px;
}

.global-br-tl-max {
  border-top-left-radius: 1000px;
}

.global-br-tr-max {
  border-top-right-radius: 1000px;
}

.global-br-bl-max {
  border-bottom-left-radius: 1000px;
}

.global-br-br-max {
  border-bottom-right-radius: 1000px;
}

.global-br-t-max {
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
}

.global-br-b-max {
  border-bottom-left-radius: 1000px;
  border-bottom-right-radius: 1000px;
}

.global-br-l-max {
  border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
}

.global-br-r-max {
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
}

.global-el-ultraLowRaised {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.1), 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

.global-el-lowRaised {
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.1), 0px 3px 4px 0px rgba(0, 0, 0, 0.1), 0px 1px 8px 0px rgba(0, 0, 0, 0.1);
}

.global-el-midRaised {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.1), 0px 6px 10px 0px rgba(0, 0, 0, 0.1), 0px 1px 18px 0px rgba(0, 0, 0, 0.1);
}

.global-el-highRaised {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.1), 0px 8px 10px 1px rgba(0, 0, 0, 0.1), 0px 3px 14px 2px rgba(0, 0, 0, 0.1);
}

.global-el-ultraHighRaised {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.1), 0px 12px 17px 2px rgba(0, 0, 0, 0.1), 0px 5px 22px 4px rgba(0, 0, 0, 0.1);
}

.global-gap-00 {
  gap: 0px;
}

.global-gap-y-00 {
  row-gap: 0px;
}

.global-gap-x-00 {
  column-gap: 0px;
}

.global-m-00 {
  margin: 0px;
}

.global-mt-00 {
  margin-top: 0px;
}

.global-mr-00 {
  margin-right: 0px;
}

.global-mb-00 {
  margin-bottom: 0px;
}

.global-ml-00 {
  margin-left: 0px;
}

.global-mx-00 {
  margin-left: 0px;
  margin-right: 0px;
}

.global-my-00 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.global-p-00 {
  padding: 0px;
}

.global-pt-00 {
  padding-top: 0px;
}

.global-pr-00 {
  padding-right: 0px;
}

.global-pb-00 {
  padding-bottom: 0px;
}

.global-pl-00 {
  padding-left: 0px;
}

.global-px-00 {
  padding-left: 0px;
  padding-right: 0px;
}

.global-py-00 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.global-gap-01 {
  gap: 2px;
}

.global-gap-y-01 {
  row-gap: 2px;
}

.global-gap-x-01 {
  column-gap: 2px;
}

.global-m-01 {
  margin: 2px;
}

.global-mt-01 {
  margin-top: 2px;
}

.global-mr-01 {
  margin-right: 2px;
}

.global-mb-01 {
  margin-bottom: 2px;
}

.global-ml-01 {
  margin-left: 2px;
}

.global-mx-01 {
  margin-left: 2px;
  margin-right: 2px;
}

.global-my-01 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.global-p-01 {
  padding: 2px;
}

.global-pt-01 {
  padding-top: 2px;
}

.global-pr-01 {
  padding-right: 2px;
}

.global-pb-01 {
  padding-bottom: 2px;
}

.global-pl-01 {
  padding-left: 2px;
}

.global-px-01 {
  padding-left: 2px;
  padding-right: 2px;
}

.global-py-01 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.global-gap-02 {
  gap: 4px;
}

.global-gap-y-02 {
  row-gap: 4px;
}

.global-gap-x-02 {
  column-gap: 4px;
}

.global-m-02 {
  margin: 4px;
}

.global-mt-02 {
  margin-top: 4px;
}

.global-mr-02 {
  margin-right: 4px;
}

.global-mb-02 {
  margin-bottom: 4px;
}

.global-ml-02 {
  margin-left: 4px;
}

.global-mx-02 {
  margin-left: 4px;
  margin-right: 4px;
}

.global-my-02 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.global-p-02 {
  padding: 4px;
}

.global-pt-02 {
  padding-top: 4px;
}

.global-pr-02 {
  padding-right: 4px;
}

.global-pb-02 {
  padding-bottom: 4px;
}

.global-pl-02 {
  padding-left: 4px;
}

.global-px-02 {
  padding-left: 4px;
  padding-right: 4px;
}

.global-py-02 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.global-gap-03 {
  gap: 8px;
}

.global-gap-y-03 {
  row-gap: 8px;
}

.global-gap-x-03 {
  column-gap: 8px;
}

.global-m-03 {
  margin: 8px;
}

.global-mt-03 {
  margin-top: 8px;
}

.global-mr-03 {
  margin-right: 8px;
}

.global-mb-03 {
  margin-bottom: 8px;
}

.global-ml-03 {
  margin-left: 8px;
}

.global-mx-03 {
  margin-left: 8px;
  margin-right: 8px;
}

.global-my-03 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.global-p-03 {
  padding: 8px;
}

.global-pt-03 {
  padding-top: 8px;
}

.global-pr-03 {
  padding-right: 8px;
}

.global-pb-03 {
  padding-bottom: 8px;
}

.global-pl-03 {
  padding-left: 8px;
}

.global-px-03 {
  padding-left: 8px;
  padding-right: 8px;
}

.global-py-03 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.global-gap-04 {
  gap: 12px;
}

.global-gap-y-04 {
  row-gap: 12px;
}

.global-gap-x-04 {
  column-gap: 12px;
}

.global-m-04 {
  margin: 12px;
}

.global-mt-04 {
  margin-top: 12px;
}

.global-mr-04 {
  margin-right: 12px;
}

.global-mb-04 {
  margin-bottom: 12px;
}

.global-ml-04 {
  margin-left: 12px;
}

.global-mx-04 {
  margin-left: 12px;
  margin-right: 12px;
}

.global-my-04 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.global-p-04 {
  padding: 12px;
}

.global-pt-04 {
  padding-top: 12px;
}

.global-pr-04 {
  padding-right: 12px;
}

.global-pb-04 {
  padding-bottom: 12px;
}

.global-pl-04 {
  padding-left: 12px;
}

.global-px-04 {
  padding-left: 12px;
  padding-right: 12px;
}

.global-py-04 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.global-gap-05 {
  gap: 16px;
}

.global-gap-y-05 {
  row-gap: 16px;
}

.global-gap-x-05 {
  column-gap: 16px;
}

.global-m-05 {
  margin: 16px;
}

.global-mt-05 {
  margin-top: 16px;
}

.global-mr-05 {
  margin-right: 16px;
}

.global-mb-05 {
  margin-bottom: 16px;
}

.global-ml-05 {
  margin-left: 16px;
}

.global-mx-05 {
  margin-left: 16px;
  margin-right: 16px;
}

.global-my-05 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.global-p-05 {
  padding: 16px;
}

.global-pt-05 {
  padding-top: 16px;
}

.global-pr-05 {
  padding-right: 16px;
}

.global-pb-05 {
  padding-bottom: 16px;
}

.global-pl-05 {
  padding-left: 16px;
}

.global-px-05 {
  padding-left: 16px;
  padding-right: 16px;
}

.global-py-05 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.global-gap-06 {
  gap: 20px;
}

.global-gap-y-06 {
  row-gap: 20px;
}

.global-gap-x-06 {
  column-gap: 20px;
}

.global-m-06 {
  margin: 20px;
}

.global-mt-06 {
  margin-top: 20px;
}

.global-mr-06 {
  margin-right: 20px;
}

.global-mb-06 {
  margin-bottom: 20px;
}

.global-ml-06 {
  margin-left: 20px;
}

.global-mx-06 {
  margin-left: 20px;
  margin-right: 20px;
}

.global-my-06 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.global-p-06 {
  padding: 20px;
}

.global-pt-06 {
  padding-top: 20px;
}

.global-pr-06 {
  padding-right: 20px;
}

.global-pb-06 {
  padding-bottom: 20px;
}

.global-pl-06 {
  padding-left: 20px;
}

.global-px-06 {
  padding-left: 20px;
  padding-right: 20px;
}

.global-py-06 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.global-gap-07 {
  gap: 24px;
}

.global-gap-y-07 {
  row-gap: 24px;
}

.global-gap-x-07 {
  column-gap: 24px;
}

.global-m-07 {
  margin: 24px;
}

.global-mt-07 {
  margin-top: 24px;
}

.global-mr-07 {
  margin-right: 24px;
}

.global-mb-07 {
  margin-bottom: 24px;
}

.global-ml-07 {
  margin-left: 24px;
}

.global-mx-07 {
  margin-left: 24px;
  margin-right: 24px;
}

.global-my-07 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.global-p-07 {
  padding: 24px;
}

.global-pt-07 {
  padding-top: 24px;
}

.global-pr-07 {
  padding-right: 24px;
}

.global-pb-07 {
  padding-bottom: 24px;
}

.global-pl-07 {
  padding-left: 24px;
}

.global-px-07 {
  padding-left: 24px;
  padding-right: 24px;
}

.global-py-07 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.global-gap-08 {
  gap: 32px;
}

.global-gap-y-08 {
  row-gap: 32px;
}

.global-gap-x-08 {
  column-gap: 32px;
}

.global-m-08 {
  margin: 32px;
}

.global-mt-08 {
  margin-top: 32px;
}

.global-mr-08 {
  margin-right: 32px;
}

.global-mb-08 {
  margin-bottom: 32px;
}

.global-ml-08 {
  margin-left: 32px;
}

.global-mx-08 {
  margin-left: 32px;
  margin-right: 32px;
}

.global-my-08 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.global-p-08 {
  padding: 32px;
}

.global-pt-08 {
  padding-top: 32px;
}

.global-pr-08 {
  padding-right: 32px;
}

.global-pb-08 {
  padding-bottom: 32px;
}

.global-pl-08 {
  padding-left: 32px;
}

.global-px-08 {
  padding-left: 32px;
  padding-right: 32px;
}

.global-py-08 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.global-gap-09 {
  gap: 40px;
}

.global-gap-y-09 {
  row-gap: 40px;
}

.global-gap-x-09 {
  column-gap: 40px;
}

.global-m-09 {
  margin: 40px;
}

.global-mt-09 {
  margin-top: 40px;
}

.global-mr-09 {
  margin-right: 40px;
}

.global-mb-09 {
  margin-bottom: 40px;
}

.global-ml-09 {
  margin-left: 40px;
}

.global-mx-09 {
  margin-left: 40px;
  margin-right: 40px;
}

.global-my-09 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.global-p-09 {
  padding: 40px;
}

.global-pt-09 {
  padding-top: 40px;
}

.global-pr-09 {
  padding-right: 40px;
}

.global-pb-09 {
  padding-bottom: 40px;
}

.global-pl-09 {
  padding-left: 40px;
}

.global-px-09 {
  padding-left: 40px;
  padding-right: 40px;
}

.global-py-09 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.global-gap-10 {
  gap: 48px;
}

.global-gap-y-10 {
  row-gap: 48px;
}

.global-gap-x-10 {
  column-gap: 48px;
}

.global-m-10 {
  margin: 48px;
}

.global-mt-10 {
  margin-top: 48px;
}

.global-mr-10 {
  margin-right: 48px;
}

.global-mb-10 {
  margin-bottom: 48px;
}

.global-ml-10 {
  margin-left: 48px;
}

.global-mx-10 {
  margin-left: 48px;
  margin-right: 48px;
}

.global-my-10 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.global-p-10 {
  padding: 48px;
}

.global-pt-10 {
  padding-top: 48px;
}

.global-pr-10 {
  padding-right: 48px;
}

.global-pb-10 {
  padding-bottom: 48px;
}

.global-pl-10 {
  padding-left: 48px;
}

.global-px-10 {
  padding-left: 48px;
  padding-right: 48px;
}

.global-py-10 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.global-gap-11 {
  gap: 56px;
}

.global-gap-y-11 {
  row-gap: 56px;
}

.global-gap-x-11 {
  column-gap: 56px;
}

.global-m-11 {
  margin: 56px;
}

.global-mt-11 {
  margin-top: 56px;
}

.global-mr-11 {
  margin-right: 56px;
}

.global-mb-11 {
  margin-bottom: 56px;
}

.global-ml-11 {
  margin-left: 56px;
}

.global-mx-11 {
  margin-left: 56px;
  margin-right: 56px;
}

.global-my-11 {
  margin-top: 56px;
  margin-bottom: 56px;
}

.global-p-11 {
  padding: 56px;
}

.global-pt-11 {
  padding-top: 56px;
}

.global-pr-11 {
  padding-right: 56px;
}

.global-pb-11 {
  padding-bottom: 56px;
}

.global-pl-11 {
  padding-left: 56px;
}

.global-px-11 {
  padding-left: 56px;
  padding-right: 56px;
}

.global-py-11 {
  padding-top: 56px;
  padding-bottom: 56px;
}

.global-m-auto {
  margin: auto;
}

.global-mt-auto {
  margin-top: auto;
}

.global-mr-auto {
  margin-right: auto;
}

.global-mb-auto {
  margin-bottom: auto;
}

.global-ml-auto {
  margin-left: auto;
}

.global-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.global-my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.global-gutter-00 {
  margin: calc(0px * -1);
}
.global-gutter-00 > * {
  padding: 0px;
}

.global-gutter-x-00 {
  margin-left: calc(0px * -1);
  margin-right: calc(0px * -1);
}
.global-gutter-x-00 > * {
  padding-left: 0px;
  padding-right: 0px;
}

.global-gutter-y-00 {
  margin-top: calc(0px * -1);
  margin-bottom: calc(0px * -1);
}
.global-gutter-y-00 > * {
  padding-top: 0px;
  padding-bottom: 0px;
}

.global-gutter-01 {
  margin: calc(2px * -1);
}
.global-gutter-01 > * {
  padding: 2px;
}

.global-gutter-x-01 {
  margin-left: calc(2px * -1);
  margin-right: calc(2px * -1);
}
.global-gutter-x-01 > * {
  padding-left: 2px;
  padding-right: 2px;
}

.global-gutter-y-01 {
  margin-top: calc(2px * -1);
  margin-bottom: calc(2px * -1);
}
.global-gutter-y-01 > * {
  padding-top: 2px;
  padding-bottom: 2px;
}

.global-gutter-02 {
  margin: calc(4px * -1);
}
.global-gutter-02 > * {
  padding: 4px;
}

.global-gutter-x-02 {
  margin-left: calc(4px * -1);
  margin-right: calc(4px * -1);
}
.global-gutter-x-02 > * {
  padding-left: 4px;
  padding-right: 4px;
}

.global-gutter-y-02 {
  margin-top: calc(4px * -1);
  margin-bottom: calc(4px * -1);
}
.global-gutter-y-02 > * {
  padding-top: 4px;
  padding-bottom: 4px;
}

.global-gutter-03 {
  margin: calc(8px * -1);
}
.global-gutter-03 > * {
  padding: 8px;
}

.global-gutter-x-03 {
  margin-left: calc(8px * -1);
  margin-right: calc(8px * -1);
}
.global-gutter-x-03 > * {
  padding-left: 8px;
  padding-right: 8px;
}

.global-gutter-y-03 {
  margin-top: calc(8px * -1);
  margin-bottom: calc(8px * -1);
}
.global-gutter-y-03 > * {
  padding-top: 8px;
  padding-bottom: 8px;
}

.global-gutter-04 {
  margin: calc(12px * -1);
}
.global-gutter-04 > * {
  padding: 12px;
}

.global-gutter-x-04 {
  margin-left: calc(12px * -1);
  margin-right: calc(12px * -1);
}
.global-gutter-x-04 > * {
  padding-left: 12px;
  padding-right: 12px;
}

.global-gutter-y-04 {
  margin-top: calc(12px * -1);
  margin-bottom: calc(12px * -1);
}
.global-gutter-y-04 > * {
  padding-top: 12px;
  padding-bottom: 12px;
}

.global-gutter-05 {
  margin: calc(16px * -1);
}
.global-gutter-05 > * {
  padding: 16px;
}

.global-gutter-x-05 {
  margin-left: calc(16px * -1);
  margin-right: calc(16px * -1);
}
.global-gutter-x-05 > * {
  padding-left: 16px;
  padding-right: 16px;
}

.global-gutter-y-05 {
  margin-top: calc(16px * -1);
  margin-bottom: calc(16px * -1);
}
.global-gutter-y-05 > * {
  padding-top: 16px;
  padding-bottom: 16px;
}

.global-gutter-06 {
  margin: calc(20px * -1);
}
.global-gutter-06 > * {
  padding: 20px;
}

.global-gutter-x-06 {
  margin-left: calc(20px * -1);
  margin-right: calc(20px * -1);
}
.global-gutter-x-06 > * {
  padding-left: 20px;
  padding-right: 20px;
}

.global-gutter-y-06 {
  margin-top: calc(20px * -1);
  margin-bottom: calc(20px * -1);
}
.global-gutter-y-06 > * {
  padding-top: 20px;
  padding-bottom: 20px;
}

.global-gutter-07 {
  margin: calc(24px * -1);
}
.global-gutter-07 > * {
  padding: 24px;
}

.global-gutter-x-07 {
  margin-left: calc(24px * -1);
  margin-right: calc(24px * -1);
}
.global-gutter-x-07 > * {
  padding-left: 24px;
  padding-right: 24px;
}

.global-gutter-y-07 {
  margin-top: calc(24px * -1);
  margin-bottom: calc(24px * -1);
}
.global-gutter-y-07 > * {
  padding-top: 24px;
  padding-bottom: 24px;
}

.global-gutter-08 {
  margin: calc(32px * -1);
}
.global-gutter-08 > * {
  padding: 32px;
}

.global-gutter-x-08 {
  margin-left: calc(32px * -1);
  margin-right: calc(32px * -1);
}
.global-gutter-x-08 > * {
  padding-left: 32px;
  padding-right: 32px;
}

.global-gutter-y-08 {
  margin-top: calc(32px * -1);
  margin-bottom: calc(32px * -1);
}
.global-gutter-y-08 > * {
  padding-top: 32px;
  padding-bottom: 32px;
}

.global-gutter-09 {
  margin: calc(40px * -1);
}
.global-gutter-09 > * {
  padding: 40px;
}

.global-gutter-x-09 {
  margin-left: calc(40px * -1);
  margin-right: calc(40px * -1);
}
.global-gutter-x-09 > * {
  padding-left: 40px;
  padding-right: 40px;
}

.global-gutter-y-09 {
  margin-top: calc(40px * -1);
  margin-bottom: calc(40px * -1);
}
.global-gutter-y-09 > * {
  padding-top: 40px;
  padding-bottom: 40px;
}

.global-gutter-10 {
  margin: calc(48px * -1);
}
.global-gutter-10 > * {
  padding: 48px;
}

.global-gutter-x-10 {
  margin-left: calc(48px * -1);
  margin-right: calc(48px * -1);
}
.global-gutter-x-10 > * {
  padding-left: 48px;
  padding-right: 48px;
}

.global-gutter-y-10 {
  margin-top: calc(48px * -1);
  margin-bottom: calc(48px * -1);
}
.global-gutter-y-10 > * {
  padding-top: 48px;
  padding-bottom: 48px;
}

.global-gutter-11 {
  margin: calc(56px * -1);
}
.global-gutter-11 > * {
  padding: 56px;
}

.global-gutter-x-11 {
  margin-left: calc(56px * -1);
  margin-right: calc(56px * -1);
}
.global-gutter-x-11 > * {
  padding-left: 56px;
  padding-right: 56px;
}

.global-gutter-y-11 {
  margin-top: calc(56px * -1);
  margin-bottom: calc(56px * -1);
}
.global-gutter-y-11 > * {
  padding-top: 56px;
  padding-bottom: 56px;
}

.global-red-50 {
  color: #FFE4DC;
}

.global-red-bg-50, .error-container {
  background-color: #FFE4DC;
}

.global-red-100 {
  color: #FFC8BB;
}

.global-red-bg-100 {
  background-color: #FFC8BB;
}

.global-red-200 {
  color: #FBAD9A;
}

.global-red-bg-200 {
  background-color: #FBAD9A;
}

.global-red-300 {
  color: #F5917A;
}

.global-red-bg-300 {
  background-color: #F5917A;
}

.global-red-400 {
  color: #ED745B;
}

.global-red-bg-400 {
  background-color: #ED745B;
}

.global-red-500 {
  color: #E4553D;
}

.global-red-bg-500 {
  background-color: #E4553D;
}

.global-red-600 {
  color: #D92D20;
}

.global-red-bg-600, .on-error-container, .error {
  background-color: #D92D20;
}

.global-red-700 {
  color: #B22A1C;
}

.global-red-bg-700 {
  background-color: #B22A1C;
}

.global-red-800 {
  color: #8D2619;
}

.global-red-bg-800 {
  background-color: #8D2619;
}

.global-red-900 {
  color: #692015;
}

.global-red-bg-900 {
  background-color: #692015;
}

.global-red-1000 {
  color: #471A11;
}

.global-red-bg-1000 {
  background-color: #471A11;
}

.global-red-a50 {
  color: rgba(217, 45, 32, 0.09);
}

.global-red-bg-a50 {
  background-color: rgba(217, 45, 32, 0.09);
}

.global-red-a100 {
  color: rgba(217, 45, 32, 0.18);
}

.global-red-bg-a100 {
  background-color: rgba(217, 45, 32, 0.18);
}

.global-red-a150 {
  color: rgba(217, 45, 32, 0.24);
}

.global-red-bg-a150 {
  background-color: rgba(217, 45, 32, 0.24);
}

.global-red-a200 {
  color: rgba(217, 45, 32, 0.32);
}

.global-red-bg-a200 {
  background-color: rgba(217, 45, 32, 0.32);
}

.global-yellow-50 {
  color: #FFF3DF;
}

.global-yellow-bg-50, .warning-container {
  background-color: #FFF3DF;
}

.global-yellow-100 {
  color: #FFE6C0;
}

.global-yellow-bg-100 {
  background-color: #FFE6C0;
}

.global-yellow-200 {
  color: #FFDAA1;
}

.global-yellow-bg-200 {
  background-color: #FFDAA1;
}

.global-yellow-300 {
  color: #FFCE82;
}

.global-yellow-bg-300 {
  background-color: #FFCE82;
}

.global-yellow-400 {
  color: #FFC262;
}

.global-yellow-bg-400 {
  background-color: #FFC262;
}

.global-yellow-500 {
  color: #FFB63F;
}

.global-yellow-bg-500 {
  background-color: #FFB63F;
}

.global-yellow-600 {
  color: #FFAB00;
}

.global-yellow-bg-600, .on-warning-container, .warning {
  background-color: #FFAB00;
}

.global-yellow-700 {
  color: #D08B0F;
}

.global-yellow-bg-700 {
  background-color: #D08B0F;
}

.global-yellow-800 {
  color: #A36E14;
}

.global-yellow-bg-800 {
  background-color: #A36E14;
}

.global-yellow-900 {
  color: #785215;
}

.global-yellow-bg-900 {
  background-color: #785215;
}

.global-yellow-1000 {
  color: #503713;
}

.global-yellow-bg-1000 {
  background-color: #503713;
}

.global-yellow-a50 {
  color: rgba(255, 171, 0, 0.09);
}

.global-yellow-bg-a50 {
  background-color: rgba(255, 171, 0, 0.09);
}

.global-yellow-a100 {
  color: rgba(255, 171, 0, 0.18);
}

.global-yellow-bg-a100 {
  background-color: rgba(255, 171, 0, 0.18);
}

.global-yellow-a150 {
  color: rgba(255, 171, 0, 0.24);
}

.global-yellow-bg-a150 {
  background-color: rgba(255, 171, 0, 0.24);
}

.global-yellow-a200 {
  color: rgba(255, 171, 0, 0.32);
}

.global-yellow-bg-a200 {
  background-color: rgba(255, 171, 0, 0.32);
}

.global-aqua-green-50 {
  color: #E7F6F1;
}

.global-aqua-green-bg-50, .secondary-container {
  background-color: #E7F6F1;
}

.global-aqua-green-100 {
  color: #C9EADF;
}

.global-aqua-green-bg-100 {
  background-color: #C9EADF;
}

.global-aqua-green-200 {
  color: #AEDFD0;
}

.global-aqua-green-bg-200 {
  background-color: #AEDFD0;
}

.global-aqua-green-300 {
  color: #91D4C1;
}

.global-aqua-green-bg-300 {
  background-color: #91D4C1;
}

.global-aqua-green-400 {
  color: #73C9B1;
}

.global-aqua-green-bg-400 {
  background-color: #73C9B1;
}

.global-aqua-green-500 {
  color: #50BEA3;
}

.global-aqua-green-bg-500 {
  background-color: #50BEA3;
}

.global-aqua-green-600 {
  color: #1AB394;
}

.global-aqua-green-bg-600, .on-container, .secondary {
  background-color: #1AB394;
}

.global-aqua-green-700 {
  color: #1F937A;
}

.global-aqua-green-bg-700 {
  background-color: #1F937A;
}

.global-aqua-green-800 {
  color: #207460;
}

.global-aqua-green-bg-800 {
  background-color: #207460;
}

.global-aqua-green-900 {
  color: #1D5648;
}

.global-aqua-green-bg-900 {
  background-color: #1D5648;
}

.global-aqua-green-1000 {
  color: #193A31;
}

.global-aqua-green-bg-1000 {
  background-color: #193A31;
}

.global-aqua-green-a50 {
  color: rgba(26, 179, 148, 0.09);
}

.global-aqua-green-bg-a50 {
  background-color: rgba(26, 179, 148, 0.09);
}

.global-aqua-green-a100 {
  color: rgba(26, 179, 148, 0.18);
}

.global-aqua-green-bg-a100 {
  background-color: rgba(26, 179, 148, 0.18);
}

.global-aqua-green-a150 {
  color: rgba(26, 179, 148, 0.24);
}

.global-aqua-green-bg-a150 {
  background-color: rgba(26, 179, 148, 0.24);
}

.global-aqua-green-a200 {
  color: rgba(26, 179, 148, 0.32);
}

.global-aqua-green-bg-a200 {
  background-color: rgba(26, 179, 148, 0.32);
}

.global-green-50 {
  color: #EBFAF3;
}

.global-green-bg-50, .success-container {
  background-color: #EBFAF3;
}

.global-green-100 {
  color: #DAF5E8;
}

.global-green-bg-100 {
  background-color: #DAF5E8;
}

.global-green-200 {
  color: #B6ECD1;
}

.global-green-bg-200 {
  background-color: #B6ECD1;
}

.global-green-300 {
  color: #91E38A;
}

.global-green-bg-300 {
  background-color: #91E38A;
}

.global-green-400 {
  color: #48D08C;
}

.global-green-bg-400 {
  background-color: #48D08C;
}

.global-green-500 {
  color: #00BE5F;
}

.global-green-bg-500 {
  background-color: #00BE5F;
}

.global-green-600 {
  color: #00A251;
}

.global-green-bg-600, .on-success-container, .success {
  background-color: #00A251;
}

.global-green-700 {
  color: #008743;
}

.global-green-bg-700 {
  background-color: #008743;
}

.global-green-800 {
  color: #006C36;
}

.global-green-bg-800 {
  background-color: #006C36;
}

.global-green-900 {
  color: #005128;
}

.global-green-bg-900 {
  background-color: #005128;
}

.global-green-1000 {
  color: #00361B;
}

.global-green-bg-1000 {
  background-color: #00361B;
}

.global-green-a50 {
  color: rgba(0, 162, 81, 0.09);
}

.global-green-bg-a50 {
  background-color: rgba(0, 162, 81, 0.09);
}

.global-green-a100 {
  color: rgba(0, 162, 81, 0.18);
}

.global-green-bg-a100 {
  background-color: rgba(0, 162, 81, 0.18);
}

.global-green-a150 {
  color: rgba(0, 162, 81, 0.24);
}

.global-green-bg-a150 {
  background-color: rgba(0, 162, 81, 0.24);
}

.global-green-a200 {
  color: rgba(0, 162, 81, 0.32);
}

.global-green-bg-a200 {
  background-color: rgba(0, 162, 81, 0.32);
}

.global-sky-blue-50 {
  color: #E7F6FE;
}

.global-sky-blue-bg-50, .extend-3-container {
  background-color: #E7F6FE;
}

.global-sky-blue-100 {
  color: #CFEDFC;
}

.global-sky-blue-bg-100 {
  background-color: #CFEDFC;
}

.global-sky-blue-200 {
  color: #A8DFFA;
}

.global-sky-blue-bg-200 {
  background-color: #A8DFFA;
}

.global-sky-blue-300 {
  color: #79CEF8;
}

.global-sky-blue-bg-300 {
  background-color: #79CEF8;
}

.global-sky-blue-400 {
  color: #57C1F6;
}

.global-sky-blue-bg-400 {
  background-color: #57C1F6;
}

.global-sky-blue-500 {
  color: #15B0F3;
}

.global-sky-blue-bg-500 {
  background-color: #15B0F3;
}

.global-sky-blue-600 {
  color: #1291D0;
}

.global-sky-blue-bg-600, .on-extend-3-container, .extend-3 {
  background-color: #1291D0;
}

.global-sky-blue-700 {
  color: #0F78AD;
}

.global-sky-blue-bg-700 {
  background-color: #0F78AD;
}

.global-sky-blue-800 {
  color: #0C608A;
}

.global-sky-blue-bg-800 {
  background-color: #0C608A;
}

.global-sky-blue-900 {
  color: #094868;
}

.global-sky-blue-bg-900 {
  background-color: #094868;
}

.global-sky-blue-1000 {
  color: #063145;
}

.global-sky-blue-bg-1000 {
  background-color: #063145;
}

.global-sky-blue-a50 {
  color: rgba(18, 145, 208, 0.09);
}

.global-sky-blue-bg-a50 {
  background-color: rgba(18, 145, 208, 0.09);
}

.global-sky-blue-a100 {
  color: rgba(18, 145, 208, 0.18);
}

.global-sky-blue-bg-a100 {
  background-color: rgba(18, 145, 208, 0.18);
}

.global-sky-blue-a150 {
  color: rgba(18, 145, 208, 0.24);
}

.global-sky-blue-bg-a150 {
  background-color: rgba(18, 145, 208, 0.24);
}

.global-sky-blue-a200 {
  color: rgba(18, 145, 208, 0.32);
}

.global-sky-blue-bg-a200 {
  background-color: rgba(18, 145, 208, 0.32);
}

.global-blue-50 {
  color: #F5F8FF;
}

.global-blue-bg-50 {
  background-color: #F5F8FF;
}

.global-blue-100 {
  color: #D8E4FD;
}

.global-blue-bg-100 {
  background-color: #D8E4FD;
}

.global-blue-200 {
  color: #B4CDFD;
}

.global-blue-bg-200 {
  background-color: #B4CDFD;
}

.global-blue-300 {
  color: #75A3FF;
}

.global-blue-bg-300 {
  background-color: #75A3FF;
}

.global-blue-400 {
  color: #4D7FFF;
}

.global-blue-bg-400 {
  background-color: #4D7FFF;
}

.global-blue-500 {
  color: #305EFF;
}

.global-blue-bg-500 {
  background-color: #305EFF;
}

.global-blue-600 {
  color: #2950DA;
}

.global-blue-bg-600 {
  background-color: #2950DA;
}

.global-blue-700 {
  color: #2243B6;
}

.global-blue-bg-700 {
  background-color: #2243B6;
}

.global-blue-800 {
  color: #1B3591;
}

.global-blue-bg-800 {
  background-color: #1B3591;
}

.global-blue-900 {
  color: #14286D;
}

.global-blue-bg-900 {
  background-color: #14286D;
}

.global-blue-1000 {
  color: #0D1A48;
}

.global-blue-bg-1000 {
  background-color: #0D1A48;
}

.global-blue-a50 {
  color: rgba(48, 94, 255, 0.09);
}

.global-blue-bg-a50 {
  background-color: rgba(48, 94, 255, 0.09);
}

.global-blue-a100 {
  color: rgba(48, 94, 255, 0.18);
}

.global-blue-bg-a100 {
  background-color: rgba(48, 94, 255, 0.18);
}

.global-blue-a150 {
  color: rgba(48, 94, 255, 0.24);
}

.global-blue-bg-a150 {
  background-color: rgba(48, 94, 255, 0.24);
}

.global-blue-a200 {
  color: rgba(48, 94, 255, 0.32);
}

.global-blue-bg-a200 {
  background-color: rgba(48, 94, 255, 0.32);
}

.global-pink-50 {
  color: #FFE5EE;
}

.global-pink-bg-50, .extend-1-container {
  background-color: #FFE5EE;
}

.global-pink-100 {
  color: #FFCADD;
}

.global-pink-bg-100 {
  background-color: #FFCADD;
}

.global-pink-200 {
  color: #FFAFCC;
}

.global-pink-bg-200 {
  background-color: #FFAFCC;
}

.global-pink-300 {
  color: #FF93BC;
}

.global-pink-bg-300 {
  background-color: #FF93BC;
}

.global-pink-400 {
  color: #FD74AC;
}

.global-pink-bg-400 {
  background-color: #FD74AC;
}

.global-pink-500 {
  color: #F9519C;
}

.global-pink-bg-500 {
  background-color: #F9519C;
}

.global-pink-600 {
  color: #F3168D;
}

.global-pink-bg-600, .on-extend-1-container, .extend-1 {
  background-color: #F3168D;
}

.global-pink-700 {
  color: #C71E73;
}

.global-pink-bg-700 {
  background-color: #C71E73;
}

.global-pink-800 {
  color: #9C205B;
}

.global-pink-bg-800 {
  background-color: #9C205B;
}

.global-pink-900 {
  color: #731E45;
}

.global-pink-bg-900 {
  background-color: #731E45;
}

.global-pink-1000 {
  color: #4D192F;
}

.global-pink-bg-1000 {
  background-color: #4D192F;
}

.global-pink-a50 {
  color: rgba(243, 22, 141, 0.09);
}

.global-pink-bg-a50 {
  background-color: rgba(243, 22, 141, 0.09);
}

.global-pink-a100 {
  color: rgba(243, 22, 141, 0.18);
}

.global-pink-bg-a100 {
  background-color: rgba(243, 22, 141, 0.18);
}

.global-pink-a150 {
  color: rgba(243, 22, 141, 0.24);
}

.global-pink-bg-a150 {
  background-color: rgba(243, 22, 141, 0.24);
}

.global-pink-a200 {
  color: rgba(243, 22, 141, 0.32);
}

.global-pink-bg-a200 {
  background-color: rgba(243, 22, 141, 0.32);
}

.global-purple-50 {
  color: #F7E2FE;
}

.global-purple-bg-50, .extend-2-container {
  background-color: #F7E2FE;
}

.global-purple-100 {
  color: #EDC6FE;
}

.global-purple-bg-100 {
  background-color: #EDC6FE;
}

.global-purple-200 {
  color: #E3A9FC;
}

.global-purple-bg-200 {
  background-color: #E3A9FC;
}

.global-purple-300 {
  color: #D78BFA;
}

.global-purple-bg-300 {
  background-color: #D78BFA;
}

.global-purple-400 {
  color: #CB6CF8;
}

.global-purple-bg-400 {
  background-color: #CB6CF8;
}

.global-purple-500 {
  color: #BD4AF6;
}

.global-purple-bg-500 {
  background-color: #BD4AF6;
}

.global-purple-600 {
  color: #AD16F3;
}

.global-purple-bg-600 {
  background-color: #AD16F3;
}

.global-purple-700 {
  color: #8F1BC6;
}

.global-purple-bg-700, .on-extend-2-container, .extend-2 {
  background-color: #8F1BC6;
}

.global-purple-800 {
  color: #711C9B;
}

.global-purple-bg-800 {
  background-color: #711C9B;
}

.global-purple-900 {
  color: #551B72;
}

.global-purple-bg-900 {
  background-color: #551B72;
}

.global-purple-1000 {
  color: #3A174C;
}

.global-purple-bg-1000 {
  background-color: #3A174C;
}

.global-purple-a50 {
  color: rgba(143, 27, 198, 0.09);
}

.global-purple-bg-a50 {
  background-color: rgba(143, 27, 198, 0.09);
}

.global-purple-a100 {
  color: rgba(143, 27, 198, 0.18);
}

.global-purple-bg-a100 {
  background-color: rgba(143, 27, 198, 0.18);
}

.global-purple-a150 {
  color: rgba(143, 27, 198, 0.24);
}

.global-purple-bg-a150 {
  background-color: rgba(143, 27, 198, 0.24);
}

.global-purple-a200 {
  color: rgba(143, 27, 198, 0.32);
}

.global-purple-bg-a200 {
  background-color: rgba(143, 27, 198, 0.32);
}

.global-charcoal-blue-50 {
  color: #E3E5E7;
}

.global-charcoal-blue-bg-50, .primary-container {
  background-color: #E3E5E7;
}

.global-charcoal-blue-100 {
  color: #C7CBD0;
}

.global-charcoal-blue-bg-100 {
  background-color: #C7CBD0;
}

.global-charcoal-blue-200 {
  color: #ACB2B9;
}

.global-charcoal-blue-bg-200 {
  background-color: #ACB2B9;
}

.global-charcoal-blue-300 {
  color: #919AA3;
}

.global-charcoal-blue-bg-300 {
  background-color: #919AA3;
}

.global-charcoal-blue-400 {
  color: #78828D;
}

.global-charcoal-blue-bg-400 {
  background-color: #78828D;
}

.global-charcoal-blue-500 {
  color: #5F6B78;
}

.global-charcoal-blue-bg-500 {
  background-color: #5F6B78;
}

.global-charcoal-blue-600 {
  color: #465564;
}

.global-charcoal-blue-bg-600 {
  background-color: #465564;
}

.global-charcoal-blue-700 {
  color: #2F4050;
}

.global-charcoal-blue-bg-700, .on-primary-container, .primary {
  background-color: #2F4050;
}

.global-charcoal-blue-800 {
  color: #25313C;
}

.global-charcoal-blue-bg-800 {
  background-color: #25313C;
}

.global-charcoal-blue-900 {
  color: #1B232A;
}

.global-charcoal-blue-bg-900 {
  background-color: #1B232A;
}

.global-charcoal-blue-1000 {
  color: #111519;
}

.global-charcoal-blue-bg-1000 {
  background-color: #111519;
}

.global-charcoal-blue-a50 {
  color: rgba(31, 92, 122, 0.09);
}

.global-charcoal-blue-bg-a50 {
  background-color: rgba(31, 92, 122, 0.09);
}

.global-charcoal-blue-a100 {
  color: rgba(31, 92, 122, 0.18);
}

.global-charcoal-blue-bg-a100 {
  background-color: rgba(31, 92, 122, 0.18);
}

.global-charcoal-blue-a150 {
  color: rgba(31, 92, 122, 0.24);
}

.global-charcoal-blue-bg-a150 {
  background-color: rgba(31, 92, 122, 0.24);
}

.global-charcoal-blue-a200 {
  color: rgba(31, 92, 122, 0.32);
}

.global-charcoal-blue-bg-a200 {
  background-color: rgba(31, 92, 122, 0.32);
}

.global-neutral-10 {
  color: #F4F5F6;
}

.global-neutral-bg-10, .surface-container-low {
  background-color: #F4F5F6;
}

.global-neutral-20 {
  color: #EEEEEE;
}

.global-neutral-bg-20, .surface {
  background-color: #EEEEEE;
}

.global-neutral-30 {
  color: #E2E2E2;
}

.global-neutral-bg-30, .outline-bright, .surface-container {
  background-color: #E2E2E2;
}

.global-neutral-40 {
  color: #D3D3D3;
}

.global-neutral-bg-40, .surface-container-high, .surface-dim {
  background-color: #D3D3D3;
}

.global-neutral-50 {
  color: #C6C6C6;
}

.global-neutral-bg-50 {
  background-color: #C6C6C6;
}

.global-neutral-100 {
  color: #BCBCBC;
}

.global-neutral-bg-100, .outline, .surface-container-highest {
  background-color: #BCBCBC;
}

.global-neutral-200 {
  color: #ABABAB;
}

.global-neutral-bg-200 {
  background-color: #ABABAB;
}

.global-neutral-300 {
  color: #909090;
}

.global-neutral-bg-300, .outline-dim {
  background-color: #909090;
}

.global-neutral-400 {
  color: #777777;
}

.global-neutral-bg-400 {
  background-color: #777777;
}

.global-neutral-500 {
  color: #646465;
}

.global-neutral-bg-500, .on-surface-variant {
  background-color: #646465;
}

.global-neutral-600 {
  color: #464646;
}

.global-neutral-bg-600 {
  background-color: #464646;
}

.global-neutral-700 {
  color: #2B2B2B;
}

.global-neutral-bg-700, .on-surface {
  background-color: #2B2B2B;
}

.global-neutral-800 {
  color: #252525;
}

.global-neutral-bg-800 {
  background-color: #252525;
}

.global-neutral-900 {
  color: #1B1B1B;
}

.global-neutral-bg-900 {
  background-color: #1B1B1B;
}

.global-neutral-1000 {
  color: #111111;
}

.global-neutral-bg-1000 {
  background-color: #111111;
}

.global-black {
  color: #000000;
}

.global-bg-black {
  background-color: #000000;
}

.global-white {
  color: #FFFFFF;
}

.global-bg-white, .on-extend-3, .on-extend-2, .on-extend-1, .on-success, .on-warning, .on-error, .on-secondary, .on-primary, .surface-container-lowest, .surface-bright {
  background-color: #FFFFFF;
}
